{% load i18n %}

{% for patient in patients %}
    <li>
        <a href="/patient/{{ patient.id }}">
            {% if sensitive_perm %}
                {% if patient.cpf %}
                    {{ patient.cpf }} -
                {% endif %}

                {% if patient.name %}
                    {{ patient.name }}
                {% else %}
                    {{ patient.code }}
                {% endif %}
            {% else %}
                {{ patient.code }}
            {% endif %}
        </a>
    </li>
{% empty %}
    <li>
        {% trans "No participants found!" %}
    </li>
{% endfor %}
