{% load i18n %}

{% for cid_10 in cid_10_list %}
    <li class="list-group-item">
        {% if medical_record %}
            <a href="/patient/{{ patient_id }}/medical_record/{{ medical_record }}/diagnosis/{{ cid_10.id }}">{{ cid_10.code }} - {{ cid_10.description }}</a>
        {% else %}
            <a href="/patient/{{ patient_id }}/medical_record/new/diagnosis/{{ cid_10.id }}">{{ cid_10.code }} - {{ cid_10.description }}</a>
        {% endif %}
    </li>
{% empty %}
    <li class="list-group-item">
        {% trans "No diseases found!" %}
    </li>
{% endfor %}
