{% load i18n %}

{% if patient_homonym %}
    {% for patient in patient_homonym %}
        <li>
            <a href="/patient/{{ patient.id }}">
                {% if patient.cpf %}{{ patient.cpf }} -{% endif %}
            {{ patient.name }}</a>
        </li>
    {% endfor %}

    {# The presence of this div simply indicates that the ajax query resulted something, so that we know whether we #}
    {# should show the modal #}
    <div id="patient_homonym"></div>
{% endif %}

{% if patient_homonym_excluded %}
    {% for patient in patient_homonym_excluded %}
        <li>
            <a href="/patient/restore/{{ patient.id }}">
                {% if patient.cpf %}{{ patient.cpf }} -{% endif %}
            {{ patient.name }}</a>
        </li>
    {% endfor %}

    {# The presence of this div simply indicates that the ajax query resulted something, so that we know whether we #}
    {# should show the modal #}
    <div id="patient_homonym_excluded"></div>
{% endif %}
