{% extends "base/template.html" %}

{% load i18n static %}

{% block header %}
<style>
    .participant-count {
        margin-bottom: 10px;
    }
    .participant-list {
        display: flex;
        flex-direction: column;
        margin: 10px 0 0 15px;
        padding: 0;
    }
    .participant-list li {
        padding: 6px;
    }
    .participant-list li:nth-child(even) {
        background: #e7e7e7;
    }
    .participant-list li:hover {
        background: #f5e79e;
    }
</style>
{% endblock %}

{% block activePatient %} active{% endblock %}

{% block content %}
    <div class="tab-pane fade show active" id="mainMenuSearchCrumb">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home">{% trans "Home" %}</a></li>
                <li class="breadcrumb-item active">{% trans "Search Participants" %}</li>
            </ol>
        </div>
    </div>

    <div class="tab-pane fade show active" id="mainMenuSearchTab">
        <div class="container-fluid">
            <div class="container-fluid well">
                <h4>{% trans "Search participant" %}</h4>
                <div class="form-group">
                    <div class="text-right participant-count">{% blocktrans %} {{ number_of_patients }} registered participants{% endblocktrans %}.</div>
                    <div class="input-group input-group-sm"><span class="input-group-addon"> <i class="fa fa-search"></i></span>
                        <input id="search_key" class="form-control" type="text" placeholder="{% trans 'Type participant name, CPF or code' %}">
                    </div>
                    {% csrf_token %}
                    <div id="list_results" class="list-group participant-list"  style="list-style: none;">  </div>
                </div>

                <div class="btn-toolbar" role="toolbar" >
                    <div class="btn-group pull-right">
                        <a id="prev_btn" class="btn btn-default">{% trans "Previous" %}</a>
                        <a id="next_btn" class="btn btn-default">{% trans "Next" %}</a>
                    </div>
                    <div class="btn-group pull-left">
                        {% if perms.patient.add_patient %}
                            <a href="/patient/new/" class="btn btn-primary">{% trans "Insert new" %}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'site/js/search_and_table.js' %}"></script>
    <script>
        $(document).ready(function () {
            searchAndTable("/patient/search/");
        });
    </script>
{% endblock %}
