{% extends "base/template.html" %}

{% load i18n static %}

{% block activePatient %} active{% endblock activePatient %}

{% block content %}
    <div class="tab-pane fade show active" id="mainMenuSearchCrumb">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
                <li class="breadcrumb-item"><a href="/home/">{% trans 'Home' %}</a></li>
                <li class="breadcrumb-item active">{% trans "Search Participants" %}</li>
            </ol>
        </nav>
    </div>

    <div class="tab-pane fade show active" id="mainMenuSearchTab">
        <div class="my-3 p-3 bg-body rounded shadow-sm">
            <h4>{% trans "Search participant" %}</h4>
            <hr>
            <div class="text-end participant-count">{% blocktrans %} {{ number_of_patients }} registered participants{% endblocktrans %}.</div>
            <div class="input-group input-group-sm">
                <span class="input-group-text"><span class="fa-fw fa fa-search"></span></span>
                <input id="search_key" class="form-control" type="search" placeholder="{% trans 'Type participant name, CPF or code' %}">
            </div>
            {% csrf_token %}
            <div id="list_results" class="list-group list-group-flush my-3 participant-list">  </div>

            <div class="btn-toolbar justify-content-between" role="toolbar">
                <div class="btn-group float-start">
                    {% if perms.patient.add_patient %}
                        <a href="/patient/new/" class="btn btn-primary">{% trans "Insert new" %}</a>
                    {% endif %}
                </div>

                <div class="btn-group float-end">
                    <a id="prev_btn" class="btn btn-secondary">{% trans "Previous" %}</a>
                    <a id="next_btn" class="btn btn-secondary">{% trans "Next" %}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extrascript %}
    <script src="{% static 'site/js/search_and_table.js' %}"></script>
    <script>
        $(document).ready(function () {
            searchAndTable("/patient/search/");
        });
    </script>
{% endblock extrascript %}
