{% extends "quiz/template.html" %}

{% load i18n static %}

{% block activePatient %}class="active"{% endblock %}

{% block form %}
    <div class="row">
        <form id="form_exam" role="form" method="post" data-toggle="validator" enctype="multipart/form-data">
        {% csrf_token %}
{% endblock %}


{% block content %}

    <div class="tab-pane fade in active" id="examTab">
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li><a href="/home">{% trans "Home" %}</a></li>
                <li><a href="/patient/find/">{% trans "Participants" %}</a></li>

                {% if status == "edit" %}
                    <li><a href="/patient/edit/{{ patient_id }}/?currentTab=3">{{ patient }}</a></li>
                {% else %}
                    <li><a href="/patient/{{ patient_id }}/?currentTab=3">{{ patient }}</a></li>
                {% endif %}

                <li>{% trans "Medical assessment" %}</li>

                {% if length == 0 %}
                    <li><a onclick="show_modal_remove_exam()">{% trans "Diagnosis and Exams" %}</a></li>
                {% else %}
                    {% if viewing %}
                        <li><a href="/patient/{{ patient_id }}/medical_record/{{ record_id }}/?status={{ status }}&currentTab=3">{% trans "Diagnosis and Exams" %}</a></li>
                    {% else %}
                        <li><a href="/patient/{{ patient_id }}/medical_record/edit/{{ record_id }}/?status={{ status }}&currentTab=3">{% trans "Diagnosis and Exams" %}</a></li>
                    {% endif %}
                {% endif %}

                {% if viewing %}
                    <li class="active">{% trans "Exam" %}</li>
                {% else %}
                    <li class="active">{% trans "New Exam" %}</li>
                {% endif %}
            </ol>

            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == "success" %}
                        <script>showSuccessMessage('{{ message }}')</script>
                    {% endif %}
                    {% if message.tags == "warning" %}
                        <script>showWarningMessage('{{ message }}')</script>
                    {% endif %}
                    {% if message.tags == "error" %}
                        <script>showErrorMessage('{{ message }}')</script>
                    {% endif %}
                    {% if message.tags == "info" %}
                        <script>showInfoMessage('{{ message }}')</script>
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if complementary_exam_form.errors %}
                {% for field in complementary_exam_form %}
                    {% if field.errors %}
                        <script>showErrorMessage('{{ field.errors|striptags }}')</script>
                    {% endif %}
                {% endfor %}

                <script type="text/javascript">
                    showErrorMessage(gettext('Exam was not saved. Please, correct fields highlighted.'))
                </script>
            {% endif %}

            <div class="tab-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="container span6 offset3 well ">
                            <div class="row">
                                <div class="col-xs-5 col-sm-4">
                                    <div class="form-group {% if complementary_exam_form.errors.date %}has-error{% endif %}">
                                        <label>{% trans "Date" %} <b style="color: red;">*</b></label>
                                        {{ complementary_exam_form.date }}
                                        <div class="help-block with-errors">
                                            {% if complementary_exam_form.date.errors %}
                                                <span>
                                                {% for error in complementary_exam_form.date_.errors %}{{ error }}{% endfor %}
                                            </span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-7 col-sm-8">
                                    <div class="form-group">
                                        <label>{% trans "Performed in" %}</label>
                                        {{ complementary_exam_form.exam_site }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    <div class="form-group">
                                        <label>{% trans "Description " %}<b style="color: red;">*</b></label>
                                        {{ complementary_exam_form.description }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5 col-sm-4">
                                    <div class="form-group">
                                        <label>{% trans "CRM" %}</label>
                                        {{ complementary_exam_form.doctor_register }}
                                    </div>
                                </div>
                                <div class="col-xs-7 col-sm-8">
                                    <div class="form-group">
                                        <label>{% trans "Doctor name" %}</label>
                                        {{ complementary_exam_form.doctor }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    <div class="form-group">
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th>{% trans "Attachments" %} <b style="color: red;">*</b></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if not exam_file_list %}
                                                <tr>
                                                    <td>{% trans "(no attachments)" %}</td>
                                                </tr>
                                            {% else %}
                                                {% for exam_file in exam_file_list %}
                                                    <tr>
                                                        <td>
                                                            {{ exam_file.content.name }}
                                                            <div class="btn-toolbar pull-right">
                                                            <button class="btn btn-default pull-left" type="button" onclick="location.href='{{ exam_file.content.url }}'"><span class="glyphicon glyphicon-download-alt" style="color: royalblue"></span></button>
                                                                {% if not viewing %}
                                                                    <button class="btn btn-default pull-right" type="button" onclick="show_modal_remove({{ exam_file.id }})"><span class="glyphicon glyphicon-remove" style="color: indianred"></span></button>
                                                                {% endif %}
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            {% if not viewing %}
                                <div class="row">
                                    <div class="form-group {% if file_form.errors.file %}has-error{% endif %}">
                                         <label class="control-label">{% trans "Files to upload" %} <b style="color: red;">*</b></label>
                                         <br/>
                                         <input type="file" name="content" multiple>
                                         <br/>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="btn-toolbar">
                    <div class="btn-group pull-left">
                    {% if not creating and not viewing %}
                        <button type="button" class="btn btn-secondary" style="background-color: indianred; color: #ffffff" onclick="show_modal_remove_for_complementary_exam();">{% trans "Delete" %}</button>
                    {% endif %}
                </div>
                <div class="btn-group pull-right">
                    {% if length == 0 %}
                        <button type="button" class="btn" style="background-color: #f5f5f5" onclick="show_modal_remove_exam()">{% trans "Back" %}</button>
                    {% else %}
                        {% if not viewing %}
                            <a href="/patient/{{ patient_id }}/medical_record/edit/{{ record_id }}/?status={{ status }}" class="btn" style="background-color: #f5f5f5">{% trans "Back" %}</a>
                        {% else %}
                            <a href="/patient/{{ patient_id }}/medical_record/{{ record_id }}/?status={{ status }}" class="btn" style="background-color: #f5f5f5">{% trans "Back" %}</a>
                        {% endif %}
                    {% endif %}
                    {% if not viewing %}
                        <button type="submit" name="action" value="save" id="save_exam" class="btn btn-primary">{% trans "Save" %}</button>
                    {% endif %}
                </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalRemove" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    {% trans "Are you sure you want to delete exam?" %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
                    <a type="button" class="btn btn-primary" id="removeExam" style="background-color: indianred; color: #ffffff" href="">{% trans "Delete" %}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalRemoveExam" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    {% trans "As there are no attachments, the exam will be totally excluded. Do you confirm deletion?" %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
                    <a type="button" class="btn btn-primary" id="removeExam2" style="background-color: indianred; color: #ffffff" href="">{% trans "Delete" %}</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block end_form %}
    </form>
    </div>
{% endblock %}

{% block script %}
        <script>
        function show_modal_remove(exam_file_id){
            var  modal_remove = document.getElementById('removeExam');
            modal_remove.setAttribute("href", '/patient/exam_file/delete/' + exam_file_id + "/?status={{ status }}{% if new_medical_record %}&mr=new{% endif %}" );
            $('#modalRemove').modal('show');
        }
        function show_modal_remove_for_complementary_exam (){
            var part;
            part = document.URL.split("exam/edit");
            var  modal_remove = document.getElementById('removeExam');
            modal_remove.setAttribute( "href", part[0]+'exam/remove'+part[1]);
            $('#modalRemove').modal('show');
        }
        function show_modal_remove_exam (){
            var part;
            part = document.URL.split("exam/edit");
            var  modal_remove = document.getElementById('removeExam2');
            modal_remove.setAttribute( "href", part[0]+'exam/remove'+part[1]);
            $('#modalRemoveExam').modal('show');
        }
        $(function(){$("[data-toggle=tooltip]").tooltip();})
    </script>
{% endblock %}
