{% extends "patient/register.html" %}

{% load i18n admin_static %}

{% block header_continuation %}

    <script src="{% static 'quiz/js/patient_questinonaires.js' %}"></script>

{% endblock %}

{% block sub_content %}

    <div class="tab-pane {% if currentTab == '4' %}active{% endif %}" id="tab5">

        <div class="row">
            <div class="col-md-12">
                <div class="container span6 offset3 well ">

                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <h4>Respondidos fora de experimentos</h4>
                        </div>
                    </div>

                    <div class="form-group">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Questionário</th>
                                <th>Data</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for patient_questionnaire in patient_questionnaires_data %}
                                <tr>
                                    <td>{{ patient_questionnaire.questionnaire_title }}</td>
                                    <td>
                                        {% if limesurvey_available and patient_questionnaire.completed != None %}
                                            {% if patient_questionnaire.completed %}
                                                <a href="/patient/questionnaire_response/edit/{{ patient_questionnaire.questionnaire_response.pk }}?origin=patient">
                                                    {{ patient_questionnaire.questionnaire_response.date }}
                                                </a>
                                            {% else %}
                                                {% if editing %}
                                                    <a href="/patient/questionnaire_response/edit/{{ patient_questionnaire.questionnaire_response.pk }}?origin=patient">
                                                        {{ patient_questionnaire.questionnaire_response.date }}
                                                    </a>
                                                {% else %}
                                                    {{ patient_questionnaire.questionnaire_response.date }}
                                                {% endif %}
                                            {% endif %}
                                        {% else %}
                                            {{ patient_questionnaire.questionnaire_response.date }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if limesurvey_available and patient_questionnaire.completed != None %}
                                            {% if patient_questionnaire.completed %}
                                                <span class="label label-success">Completo</span>
                                            {% else %}
                                                <span class="label label-warning">Incompleto</span>
                                            {% endif %}
                                        {% else %}
                                            <span class="label label-default">Sem status</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    {% if not inserting and editing %}
                        {%  if perms.patient.add_medicalrecorddata %}
                            <div class="btn-group pull-left">
                                <a href="/patient/{{ patient_id }}/new_questionnaire_response?origin=patient" class="btn btn-primary">Preencher Questionário</a>
                            </div>
                        {% endif %}
                    {% endif %}

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="container span6 offset3 well ">

                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <h4>Respondidos em experimentos</h4>
                        </div>
                    </div>

                    <div class="form-group">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Estudo</th>
                                <th>Experimento</th>
                                <th>Grupo</th>
                                <th>Questionário</th>
                                <th>Data</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for questionnaire in questionnaires_data %}
                                <tr>
                                    <td>{{ questionnaire.research_project_title }}</td>
                                    <td>{{ questionnaire.experiment_title }}</td>
                                    <td>{{ questionnaire.group_title }}</td>
                                    <td>{{ questionnaire.questionnaire_title }}</td>
                                    <td>
                                        {% if limesurvey_available and questionnaire.completed != None and questionnaire.completed %}
                                            <a href="/experiment/questionnaire_response/{{ questionnaire.questionnaire_response.pk }}/?view=patient&status={% if editing %}edit{% else %}view{% endif %}">
                                                {{ questionnaire.questionnaire_response.date }}
                                            </a>
                                        {% else %}
                                            {{ questionnaire.questionnaire_response.date }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if limesurvey_available and questionnaire.completed != None %}
                                            {% if questionnaire.completed %}
                                                <span class="label label-success">Completo</span>
                                            {% else %}
                                                <span class="label label-warning">Incompleto</span>
                                            {% endif %}
                                        {% else %}
                                            <span class="label label-default">Sem status</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}