{% extends "patient/register.html" %}

{% load i18n %}

{% block sub_content %}
    <div class="tab-pane {% if currentTab == "1" %}active{% endif %}" id="tab2">
        <div class="row">
            <div class="container-fluid">
                <div class="my-3 p-3 bg-body rounded shadow-sm">
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>{% trans "Basic Information" %}</h4>
                        </div>
                        <div class="col col-6 text-end">
                            {% if perms.patient.sensitive_data_patient and code %}
                                <label class="fw-semibold" for="code">{% trans "Code" %}:</label>
                                <span class="disabled user-select-all">{{ code }}</span>
                            {% endif %}
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-6 col-sm-6">
                            <div class="form-group">
                                <label>{% trans "Natural of" %}</label>

                                <div class="input-group input-group-sm">
                                    <span class="input-group-text"> <span class="fa-fw fa fa-flag"></span></span>
                                    {{ social_demographic_form.natural_of }}
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6">
                            <div class="form-group">
                                <label>{% trans "Citizenship" %}</label>

                                <div class="input-group input-group-sm">
                                    <span class="input-group-text"> <span class="fa-fw fa fa-home"></span></span>
                                    {{ social_demographic_form.citizenship }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-6">
                            <div class="form-group">
                                <label>{% trans "Profession" %}</label>

                                <div class="input-group  input-group-sm ">
                                    <span class="input-group-text"> <span class="fa-fw fa fa-black-tie"></span></span>
                                    {{ social_demographic_form.profession }}
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6">
                            <div class="form-group">
                                <label for="occupation">{% trans "Occupation" %}</label>

                                <div class="input-group  input-group-sm">
                                    <span class="input-group-text"> <span class="fa-fw fa fa-black-tie"></span></span>
                                    {{ social_demographic_form.occupation }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            <div class="form-group">
                                <label>{% trans "Do you receive some benefit from the municipal level, state or federal government?" %}</label>

                                <div class="input-group input-group-sm">
                                    {% for radio in social_demographic_form.benefit_government %}<div class="form-check form-check-inline">{{ radio }}</div>{% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            <div class="form-group">
                                <label>{% trans "What form of payment of the treatment performed?" %}</label>

                                <div class="input-group  input-group-sm">{{ social_demographic_form.payment }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-6">
                            <div class="form-group">
                                <label>{% trans "Religion" %}</label>

                                <div class="input-group  input-group-sm">{{ social_demographic_form.religion }}</div>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6">
                            <div class="form-group">
                                <label for="skin_color">{% trans "Flesh tone" %}</label>

                                <div class="input-group  input-group-sm">{{ social_demographic_form.flesh_tone }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-6">

                            <div class="form-group">
                                <label>{% trans "Level of education (schooling)" %}</label>

                                <div class="input-group input-group-sm">{{ social_demographic_form.patient_schooling }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="my-3 p-3 bg-body rounded shadow-sm">
                    <h4>{% trans "Social class" %}</h4>
                    <br />
                    <div class="row">
                        <div class="col-5 col-sm-5">

                            <div class="form-group">
                                <label>{% trans "Level of education of the householder - Criterion Brazil 2013" %}</label>

                                <div class="input-group input-group-sm">{{ social_demographic_form.schooling }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            <div class="form-group">
                                <br>
                                <label>{% trans "Amount of familiar comfort items - Brazil 2013 criteria" %}</label>
                                <div class="form-group form-group-sm mt-2 row">
                                    <label class="col-sm-5 form-label">{% trans "TV" %}</label>

                                    <div class="col-sm-7">
                                        {% for radio in social_demographic_form.tv %}<div class="form-check form-check-inline">{{ radio }}</div>{% endfor %}
                                    </div>
                                </div>
                                <div class="form-group form-group-sm mt-2 row">
                                    <label class="col-sm-5 form-label">{% trans "DVD" %}</label>

                                    <div class="col-sm-7 ">
                                        {% for radio in social_demographic_form.dvd %}<div class="form-check form-check-inline">{{ radio }}</div>{% endfor %}
                                    </div>
                                </div>
                                <div class="form-group form-group-sm mt-2 row">
                                    <label class="col-sm-5 form-label">{% trans "Radio" %}</label>

                                    <div class="col-sm-7">
                                        {% for radio in social_demographic_form.radio %}<div class="form-check form-check-inline">{{ radio }}</div>{% endfor %}
                                    </div>
                                </div>
                                <div class="form-group form-group-sm mt-2 row">
                                    <label class="col-sm-5 form-label">{% trans "Bath" %}</label>

                                    <div class="col-sm-7">
                                        {% for radio in social_demographic_form.bath %}<div class="form-check form-check-inline">{{ radio }}</div>{% endfor %}
                                    </div>
                                </div>
                                <div class="form-group form-group-sm mt-2 row">
                                    <label class="col-sm-5 form-label">{% trans "Automobile" %}</label>

                                    <div class="col-sm-7">
                                        {% for radio in social_demographic_form.automobile %}<div class="form-check form-check-inline">{{ radio }}</div>{% endfor %}
                                    </div>
                                </div>
                                <div class="form-group form-group-sm mt-2 row">
                                    <label class="col-sm-5 form-label">{% trans "Employed salaried" %}</label>

                                    <div class="col-sm-7">
                                        {% for radio in social_demographic_form.house_maid %}<div class="form-check form-check-inline">{{ radio }}</div>{% endfor %}
                                    </div>
                                </div>
                                <div class="form-group form-group-sm mt-2 row">
                                    <label class="col-sm-5 form-label">{% trans "Wash machine" %}</label>

                                    <div class="col-sm-7">
                                        {% for radio in social_demographic_form.wash_machine %}<div class="form-check form-check-inline">{{ radio }}</div>{% endfor %}
                                    </div>
                                </div>
                                <div class="form-group form-group-sm mt-2 row">
                                    <label class="col-sm-5 form-label">{% trans "Refrigerator" %}</label>

                                    <div class="col-sm-7">
                                        {% for radio in social_demographic_form.refrigerator %}<div class="form-check form-check-inline">{{ radio }}</div>{% endfor %}
                                    </div>
                                </div>
                                <div class="form-group form-group-sm mt-2 row">
                                    <label class="col-sm-5 form-label">{% trans "Freezer*" %}</label>

                                    <div class="col-sm-7">
                                        {% for radio in social_demographic_form.freezer %}<div class="form-check form-check-inline">{{ radio }}</div>{% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h6>{% trans "*Independent unit or part of the fridge-freezer" %}</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            <div class="form-group">
                                <br />
                                <label>{% trans "Calculated social class" %}</label>
                                <div class="input-group">{{ social_demographic_form.social_class }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock sub_content %}
