{% extends "quiz/template.html" %}

{% load i18n admin_static %}

{% block header %}
    <script type="text/javascript" src="{% static 'quiz/js/register.js' %}"></script>

    <style>
        div.alert-overflow {
            display: none; /* O alerta deve iniciar oculto */
            overflow: hidden;
            position: fixed;
            z-index: 999999;
        }

        div.top-buffer {
            margin-top: 20px;
        }
    </style>

    {% block header_continuation %}{% endblock %}

{% endblock %}

{% block activePatient %}class="active"{% endblock %}

{% block form %}
    <div class="row">

        <form id="form_id" role="form" method="post" data-toggle="validator">
        {% csrf_token %}
{% endblock %}

{% block content %}
            <div class="tab-pane fade in active" id="mainMenuAddTab">
                <div class="col-md-10">
                    <div class="tabbable" id="myTabs">

                        <ul class="nav nav-tabs nav-justified" id="idTabs">
                            {# Ids are included only when editing, so that javascript can act. #}
                            <li {% if currentTab == '0' %}class="active"{% endif %}>
                                <a href="/patient/{% if editing %}edit/{% endif %}{{ patient_id }}/?currentTab=0"
                                        {% if editing %} id="tab0"{% endif %}>Dados pessoais</a></li>
                            <li {% if currentTab == '1' %}class="active"{% endif %}>
                                <a href="/patient/{% if editing %}edit/{% endif %}{{ patient_id }}/?currentTab=1"
                                        {% if editing %} id="tab1"{% endif %}>Dados sociodemográficos</a></li>
                            <li {% if currentTab == '2' %}class="active"{% endif %}>
                                <a href="/patient/{% if editing %}edit/{% endif %}{{ patient_id }}/?currentTab=2"
                                        {% if editing %} id="tab2"{% endif %}>História social</a></li>
                            <li {% if currentTab == '3' %}class="active"{% endif %}>
                                <a href="/patient/{% if editing %}edit/{% endif %}{{ patient_id }}/?currentTab=3"
                                        {% if editing %} id="tab3"{% endif %}>Avaliações médicas</a></li>
                            <li {% if currentTab == '4' %}class="active"{% endif %}>
                                <a href="/patient/{% if editing %}edit/{% endif %}{{ patient_id }}/?currentTab=4"
                                        {% if editing %} id="tab4"{% endif %}>Questionários</a></li>
                        </ul>

                        <input type="text" id="currentTab" name="currentTab" value="{{ currentTab }}" style="visibility: hidden"/>
                        <input type="text" id="action" name="action" style="visibility: hidden"/>
                        <input type="text" id="nextTab" name="nextTab" style="visibility: hidden"/>
                        <input type="text" id="nextTabURL" name="nextTabURL" style="visibility: hidden"/>

                        <div id="fix-for-tab-content-spacing" style="height: 22px;">&nbsp;</div>

                        <div class="tab-content">
                            {% if messages %}
                                {% for message in messages %}

                                    {% if message.tags == "success" %}
                                        <script>showSuccessMessage('{{ message }}')</script>
                                    {% endif %}

                                    {% if message.tags == "warning" %}
                                        <script>showWarningMessage('{{ message }}')</script>
                                    {% endif %}

                                    {% if message.tags == "error" %}
                                        <script>showErrorMessage('{{ message }}')</script>
                                    {% endif %}

                                    {% if message.tags == "info" %}
                                        <script>showInfoMessage('{{ message }}')</script>
                                    {% endif %}

                                {% endfor %}
                            {% endif %}

                            {% block sub_content %}{% endblock %}

                            <div class="btn-toolbar">
                                <div class="btn-group pull-left">
                                    {% if not editing %}
                                        {% if perms.patient.delete_patient %}
                                            <button type="button" class="btn btn-secondary"
                                                    style="background-color: indianred; color: #ffffff"
                                                    onclick="$('#modalRemove').modal('show')">Excluir
                                            </button>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="btn-group pull-right">
                                    {% if editing %}
                                        <button type="button" class="btn btn-default{% if currentTab == '0' %} disabled{% endif %}" id="prevtab">Salvar e mostrar anterior</button>
                                        <button type="button" class="btn btn-default{% if currentTab == '4' %} disabled{% endif %}" id="nexttab">Salvar e mostrar próxima</button>
                                        {% if currentTab == '0' %}
                                            <button type="button" class="btn btn-primary" id="savetab">Salvar</button>
                                        {% else %}
                                            <button type="submit" name="action" value="save" class="btn btn-primary" id="save_submit_button">Salvar</button>
                                        {% endif %}
                                    {% else %}
                                        <button type="button" class="btn btn-default{% if currentTab == '0' %} disabled{% endif %}" id="prevtab">Mostrar anterior</button>
                                        <button type="button" class="btn btn-default{% if currentTab == '4' %} disabled{% endif %}" id="nexttab">Mostrar próxima</button>
                                        {% if perms.patient.change_patient %}
                                            <button type="button" class="btn btn-primary" id="editPatient">Editar</button>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {# Modal for saving while changing tab using tabs #}
            <div class="modal fade" id="modalSaveTab" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            Deseja salvar?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-default" id="savetab_modal_dont_save">Não salvar</button>
                            <button type="button" class="btn btn-primary" id="savetab_modal_save">Salvar</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="modalRemove" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            Tem certeza que deseja excluir o paciente?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-primary" id="removePatient"
                                    style="background-color: indianred; color: #ffffff">Excluir
                            </button>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}

{% block end_form %}
        </form>
    </div>
{% endblock %}