{% extends "patient/register.html" %}

{% load i18n static %}

{% block sub_content %}

    <div class="tab-pane {% if currentTab == '1' %}active{% endif %}" id="tab2">
        <div class="row">
            <div class="container-fluid">
                <div class="container-fluid well">
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>{% trans "Basic Information" %}</h4>
                        </div>
                        <div class="col-sm-6" style="text-align: right; vertical-align: bottom">
                            {% if perms.patient.sensitive_data_patient %}
                                <label for="code" >{% trans "Code" %}:</label>
                                <span class="disabled"> {{ code }} </span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-6">
                            <div class="form-group">
                                <label>{% trans "Natural of" %}</label>

                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon"> <span class="fa fa-flag"></span></span>
                                    {{ social_demographic_form.natural_of }}
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6">
                            <div class="form-group">
                                <label>{% trans "Citizenship" %}</label>

                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon"> <span class="fa fa-home"></span></span>
                                    {{ social_demographic_form.citizenship }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-6">
                            <div class="form-group">
                                <label>{% trans "Profession" %}</label>

                                <div class="input-group  input-group-sm ">
                                    <span class="input-group-addon"> <span class="fa fa-black-tie"></span></span>
                                    {{ social_demographic_form.profession }}
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6">
                            <div class="form-group">
                                <label for="occupation">{% trans "Occupation" %}</label>

                                <div class="input-group  input-group-sm">
                                    <span class="input-group-addon"> <span class="fa fa-black-tie"></span></span>
                                    {{ social_demographic_form.occupation }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            <div class="form-group">
                                <label>{% trans "Do you receive some benefit from the municipal level, state or federal government?" %}</label>

                                <div class="input-group  input-group-sm">
                                    {% for radio in social_demographic_form.benefit_government %}
                                        <div class="radio-inline">
                                            {{ radio }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            <div class="form-group">
                                <label>{% trans "What form of payment of the treatment performed?" %}</label>

                                <div class="input-group  input-group-sm">
                                    {{ social_demographic_form.payment }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-6">
                            <div class="form-group">
                                <label>{% trans "Religion" %}</label>

                                <div class="input-group  input-group-sm">
                                    {{ social_demographic_form.religion }}
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6">
                            <div class="form-group">
                                <label for="skin_color">{% trans "Flesh tone" %}</label>

                                <div class="input-group  input-group-sm">
                                    {{ social_demographic_form.flesh_tone }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-6">

                            <div class="form-group">
                                <label>{% trans "Level of education (schooling)" %}</label>

                                <div class="input-group input-group-sm">
                                    {{ social_demographic_form.patient_schooling }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid well">
                    <h4>{% trans "Social class" %}</h4>
                    <br/>
                    <div class="row">
                        <div class="col-6 col-sm-6">

                            <div class="form-group">
                                <label>{% trans "Level of education of the householder - Criterion Brazil 2013" %}</label>

                                <div class="input-group input-group-sm">
                                    {{ social_demographic_form.schooling }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            <div class="form-group">
                                <label>{% trans "Amount of familiar comfort items - Brazil 2013 criteria" %}</label>

                                <div class="form-group">
                                    <label class="col-sm-5 control-label">{% trans "TV" %}</label>

                                    <div class="col-sm-7">
                                        {% for radio in social_demographic_form.tv %}
                                            <div class="radio-inline">
                                                {{ radio }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-5 control-label">{% trans "DVD" %}</label>

                                    <div class="col-sm-7">
                                        {% for radio in social_demographic_form.dvd %}
                                            <div class="radio-inline">
                                                {{ radio }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-5 control-label">{% trans "Radio" %}</label>

                                    <div class="col-sm-7">
                                        {% for radio in social_demographic_form.radio %}
                                            <div class="radio-inline">
                                                {{ radio }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-5 control-label">{% trans "Bath" %}</label>

                                    <div class="col-sm-7">
                                        {% for radio in social_demographic_form.bath %}
                                            <div class="radio-inline">
                                                {{ radio }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-5 control-label">{% trans "Automobile" %}</label>

                                    <div class="col-sm-7">
                                        {% for radio in social_demographic_form.automobile %}
                                            <div class="radio-inline">
                                                {{ radio }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-5 control-label">{% trans "Employed salaried" %}</label>

                                    <div class="col-sm-7">
                                        {% for radio in social_demographic_form.house_maid %}
                                            <div class="radio-inline">
                                                {{ radio }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-5 control-label">{% trans "Wash machine" %}</label>

                                    <div class="col-sm-7">
                                        {% for radio in social_demographic_form.wash_machine %}
                                            <div class="radio-inline">
                                                {{ radio }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-5 control-label">{% trans "Refrigerator" %}</label>

                                    <div class="col-sm-7">
                                        {% for radio in social_demographic_form.refrigerator %}
                                            <div class="radio-inline">
                                                {{ radio }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-5 control-label">{% trans "Freezer*" %}</label>

                                    <div class="col-sm-7">
                                        {% for radio in social_demographic_form.freezer %}
                                            <div class="radio-inline">
                                                {{ radio }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h6>{% trans "*Independent unit or part of the fridge-freezer" %}</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            <div class="form-group">
                                <br/>
                                <label>{% trans "Calculated social class" %}</label>
                                <div class="input-group input-group-sm">
                                    {{ social_demographic_form.social_class }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}