{% extends "patient/register.html" %}

{% load i18n static %}

{% block sub_content %}

    <div class="tab-pane {% if currentTab == '2' %}active{% endif %}" id="tab3">
        <div class="row">
            <div class="col-md-12">
                <div class="container-fluid well">
                    <div class="row">
                        <div class="col-sm-12" style="text-align: right; vertical-align: bottom">
                            {% if perms.patient.sensitive_data_patient %}
                                <label for="code" >{% trans "Code" %}:</label>
                                <span class="disabled"> {{ code }} </span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group">
                                <label>{% trans "Smoker" %}</label>

                                <div class="input-group  input-group-sm">
                                    {% for radio in social_history_form.smoker %}
                                        <div class="radio-inline">
                                            {{ radio }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group">
                                <label>{% trans "Cigarretes/Day" %}</label>

                                <div class="input-group  input-group-sm">
                                    {{ social_history_form.amount_cigarettes }}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group">
                                <label>{% trans "Former smoker" %}</label>

                                <div class="input-group  input-group-sm">
                                    {% for radio in social_history_form.ex_smoker %}
                                        <div class="radio-inline">
                                            {{ radio }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group">
                                <label>{% trans "Alcoholic" %}</label>

                                <div class="input-group  input-group-sm">
                                    {% for radio in social_history_form.alcoholic %}
                                        <div class="radio-inline">
                                            {{ radio }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group">
                                <label>{% trans "Frequency" %}</label>

                                <div class="input-group  input-group-sm">
                                    {{ social_history_form.alcohol_frequency }}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group">
                                <label>{% trans "Period" %}</label>

                                <div class="input-group  input-group-sm">
                                    {{ social_history_form.alcohol_period}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <div class="form-group">
                                <label>{% trans "Drugs" %}</label>

                                <div class="input-group  input-group-sm">
                                    {% for radio in social_history_form.drugs %}
                                        <div class="radio-inline">
                                            {{ radio }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
{{ block.super }}
    <script src="{% static 'quiz/js/patient_social_history.js' %}"></script>
{% endblock %}