{% extends "patient/register.html" %}

{% load i18n static %}

{% block sub_content %}
    <div class="tab-pane {% if currentTab == '3' %}active{% endif %}" id="tab4">
        <div class="row">
            <div class="container-fluid">
                <div class="my-3 p-3 bg-body rounded shadow-sm">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12" style="text-align: right; vertical-align: bottom">
                                {% if perms.patient.sensitive_data_patient %}
                                    <label class="fw-semibold" for="code" >{% trans "Code" %}:</label>
                                    <span class="disabled"> {{ code }} </span>
                                {% endif %}
                            </div>
                        </div>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th class="col-lg-3">{% trans "Date" %}</th>
                                <th class="col-lg-6">{% trans "Diagnosis" %}</th>
                                <th class="col-lg-2">{% trans "Responsible" %}</th>
                                <th class="col-lg-1">{% if editing %}{% trans "Edit" %}{% else %}{% trans "View" %}{% endif %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for record in medical_record %}
                                <tr>
                                    <td>{{ record.record_date }}</td>
                                    <td>
                                        {% for diagnosis in record.diagnosis_set.all %}
                                            <ul>
                                                <li>{{ diagnosis.classification_of_diseases }}</li>
                                            </ul>
                                        {% endfor %}
                                    </td>
                                    <td>{{ record.record_responsible }}</td>
                                    {% if perms.patient.view_medicalrecorddata %}
                                        {% if editing %}
                                            <td><a class="fa-fw fa fa-edit"
                                                   href="/patient/{{ patient_id }}/medical_record/edit/{{ record.pk }}/?status=edit"></a>
                                            </td>
                                        {% else %}
                                            <td><a class="fa-fw fa fa-search"
                                                   href="/patient/{{ patient_id }}/medical_record/{{ record.pk }}/?status=view"></a>
                                            </td>
                                        {% endif %}
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% if not creating and editing %}
                        {% if perms.patient.add_medicalrecorddata %}
                            <br>
                            <div class="btn-group">
                                <a href="/patient/{{ patient_id }}/medical_record/new/" class="btn btn-primary">{% trans "Insert medical record" %}</a>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extrascript %}
{{ block.super }}
    <script src="{% static 'site/js/patient_medical_record.js' %}"></script>
{% endblock %}