{% extends "patient/register.html" %}

{% load i18n admin_static %}

{% block header_continuation %}

    <script src="{% static 'quiz/js/patient_medical_record.js' %}"></script>

{% endblock %}

{% block sub_content %}

    <div class="tab-pane {% if currentTab == '3' %}active{% endif %}" id="tab4">
        <div class="row">
            <div class="col-md-12">
                <div class="container span6 offset3 well ">
                    <div class="form-group">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Data</th>
                                <th>Responsável</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for record in medical_record %}
                                <tr>
                                    <td>{{ record.record_date }}</td>
                                    <td>{{ record.record_responsible }}</td>
                                    {% if perms.patient.view_medicalrecorddata %}
                                        {% if editing %}
                                            <td><a class="glyphicon glyphicon-search"
                                                   href="/patient/{{ patient_id }}/medical_record/{{ record.pk }}/?status=edit"></a>
                                            </td>
                                        {% else %}
                                            <td><a class="glyphicon glyphicon-search"
                                                   href="/patient/{{ patient_id }}/medical_record/{{ record.pk }}/?status=view"></a>
                                            </td>
                                        {% endif %}
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% if not inserting and editing %}
                        {%  if perms.patient.add_medicalrecorddata %}
                            <div class="btn-group pull-left">
                                <a href="/patient/{{ patient_id }}/medical_record/new/" class="btn btn-primary">Inserir
                                    avaliação médica</a>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}