{% extends "quiz/template.html" %}

{% load i18n static %}

{% block activeUser %}class="active"{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == "success" %}
                <script>showSuccessMessage('{{ message }}')</script>
            {% endif %}

            {% if message.tags == "warning" %}
                <script>showWarningMessage('{{ message }}')</script>
            {% endif %}

            {% if message.tags == "error" %}
                <script>showErrorMessage('{{ message }}')</script>
            {% endif %}

            {% if message.tags == "info" %}
                <script>showInfoMessage('{{ message }}')</script>
            {% endif %}

        {% endfor %}
    {% endif %}

    <div class="tab-pane fade in active" id="researchProjectBreadCrumb">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="/home">{% trans "Home" %}</a></li>
                <li class="active">{% trans "Researchers and Institutions" %}</li>
            </ol>
        </div>
    </div>

    <div class="tab-pane fade in active" id="mainMenuUserTab">
        <div class="col-md-12">
            <div class="container-fluid well">
                <h4>{% trans "Researchers" %}</h4>
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <span class="fa fa-chevron-right"></span> {% trans "Show/Hide researchers" %}
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse in" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body table-responsive">
                                <table class="table table-striped table-hover" class="col-xs-12 col-md-12">
                                    <thead>
                                    <tr>
                                        <th>{% trans "Researcher" %}</th>
                                        <th>{% trans "E-mail" %}</th>
                                        <th>{% trans "Institution" %}</th>
                                        <th class="text-center">{% trans "Username" %}</th>
                                        <th>{% trans "Citation name" %}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for user in object_list %}
                                        <tr>
                                            {% if user.first_name and user.last_name %}
                                                <td><a data-toggle="tooltip" data-placement="left" title data-original-title="{% trans "Edit" %}" href="/user/view/{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</a></td>
                                            {% else %}
                                                <td><a data-toggle="tooltip" data-placement="left" title data-original-title="{% trans "Edit" %}" href="/user/view/{{ user.id }}"><em>{% trans "Name not registered" %}</em></a></td>
                                            {% endif %}
                                            <td>{{ user.email }}</td>
                                            <td>{% if user.user_profile.institution %}{{ user.user_profile.institution.acronym }}{% endif %}</td>
                                            <td class="text-center">{% if user.user_profile.login_enabled %}{{ user.username }}{% else %}---{% endif %}</td>
                                            <td>{% if user.user_profile.citation_name %}{{ user.user_profile.citation_name }}{% else %}---{% endif %}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% if perms.auth.add_user %}
                            <div class="btn-group pull-left">
                                <a href="/user/new/" class="btn btn-primary">{% trans "Insert new" %}</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane fade in active" id="mainMenuUserTab">
        <div class="col-md-12">
            <div class="container-fluid well">
                <h4>{% trans "Institutions" %}</h4>
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                    <span class="fa fa-chevron-right"></span> {% trans "Show/Hide institutions" %}
                                </button>
                            </h5>
                        </div>

                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>{% trans "Name" %}</th>
                                            <th>{% trans "Acronym" %}</th>
                                            <th>{% trans "Country" %}</th>
                                            <th>{% trans "Parent" %}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for institution in institutions %}
                                        <tr>
                                            <td>{% if perms.auth.add_user %}
                                                    <a data-toggle="tooltip" data-placement="left" title="{% trans "Visualize" %}"
                                                       href="/user/institution/{{ institution.id }}">
                                                        {{ institution.name }}
                                                    </a>
                                                {% else %}
                                                    {{ institution.name }}
                                                {% endif %}
                                            </td>
                                            <td>{{ institution.acronym }}</td>
                                            <td>{{ institution.country|default:"" }}</td>
                                            <td>{{ institution.parent|default:"" }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% if perms.auth.add_user %}
                            <div class="btn-group pull-left">
                                <a href="/user/institution/new/" class="btn btn-primary">{% trans "Insert new" %}</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block script %}
<script>
    $(function(){
        $("[data-toggle=tooltip]").tooltip();
    });
</script>
{% endblock %}