{% extends "base/template.html" %}

{% load i18n static %}

{% block activeUser %} active{% endblock %}

{% block form %}
    <div class="row">
    <form id="user_form" role="form" method="post" data-toggle="validator">
    {% csrf_token %}
{% endblock %}

{% block content %}

    {% comment %} {% if messages %}
        {% for message in messages %}

            {% if message.tags == "success" %}
                <script>showSuccessMessage('{{ message }}')</script>
            {% endif %}

            {% if message.tags == "warning" %}
                <script>showWarningMessage('{{ message }}')</script>
            {% endif %}

            {% if message.tags == "error" %}
                <script>showErrorMessage('{{ message }}')</script>
            {% endif %}

            {% if message.tags == "info" %}
                <script>showInfoMessage('{{ message }}')</script>
            {% endif %}

        {% endfor %}
    {% endif %} {% endcomment %}

    {% if institution_form.errors %}
        <script type="text/javascript">
            showErrorMessage(gettext('Please, correct fields highlighted.'))
        </script>
    {% endif %}


    <div class="tab-pane fade in active" id="equipmentBreadCrumb">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="/home">{% trans "Home" %}</a></li>
                <li><a href="/user/list">{% trans "Researchers and Institutions" %}</a></li>
                {% if creating %}
                    <li class="active">{% trans "New institution" %}</li>
                {% else %}
                    {% if editing %}
                        <li><a href="/user/institution/{{ institution.id }}">{{ institution_form.name.value }}</a></li>
                        <li class="active">{% trans "Editing" %}</li>
                    {% else %}
                        <li class="active"> {{ institution_form.name.value }}</li>
                    {% endif %}
                {% endif %}
            </ol>
        </div>
    </div>

    <div class="tab-pane fade in active" id="menuUserTab">
        <div class="col-lg-12">
            <div class="container-fluid well">

                <h4>{% trans "Institution" %}</h4>

                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="form-group has-feedback {% if institution_form.name.errors %}has-error{% endif %}">
                            <label for="id_name" class="control-label">{% trans "Name" %} <b style="color: red;">*</b></label>
                            {{ institution_form.name }}
                            <div class="help-block with-errors">
                                {% for error in institution_form.name.errors %}
                                    {{ error }}<br/>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-group {% if institution_form.acronym.errors %}has-error{% endif %}">
                            <label class="control-label">{% trans "Acronym" %} <b style="color: red;">*</b></label>
                            {{ institution_form.acronym }}
                            <div class="help-block with-errors">
                                {% for error in institution_form.acronym.errors %}
                                    {{ error }}<br/>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="form-group {% if institution_form.country.errors %}has-error{% endif %}">
                            <label class="control-label">{% trans "Country" %} <b style="color: red;">*</b></label>
                            {{ institution_form.country }}
                            <div class="help-block with-errors">
                                {% for error in institution_form.country.errors %}
                                    {{ error }}<br/>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-group {% if institution_form.parent.errors %}has-error{% endif %}">
                            <label class="control-label">{% trans "Parent" %} </label>
                            {{ institution_form.parent }}
                            <div class="help-block with-errors">
                                {% for error in institution_form.parent.errors %}
                                    {{ error }}<br/>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>


                {% if not editing and can_change %}
                    <div class="btn-group pull-left">
                        <a href="/user/institution/edit/{{ institution.id }}" class="btn btn-primary">{% trans "Edit" %}</a>
                    </div>
                {% endif %}

            </div>

            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group pull-left">
                    {% if not editing and perms.auth.add_user and can_change %}
                        <button type="button" class="btn btn-danger" onclick="showDialogAndEnableRemoveButton()">{% trans "Delete institution" %}</button>
                    {% endif %}
                </div>
                {% if editing %}
                    <div class="btn-group pull-right">
                        <button type="submit" name="action" value="save" class="btn btn-primary">{% trans "Save" %}</button>
                    </div>
                    <div class="btn-group pull-right">
                        <a href="{% if creating %}/user/list{% else %}/user/institution/{{ institution.id }}{% endif %}"
                           class="btn" style="background-color: #f5f5f5">{% trans "Cancel" %}</a>
                    </div>
                {% else %}
                    <div class="btn-group pull-right">
                        <a href="/user/list" class="btn" style="background-color: #f5f5f5">{% trans "Back" %}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalRemove" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    {% trans "Are you sure you want to delete this institution?" %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="disableRemoveButton()">{% trans "Cancel" %}</button>
                    <button type="submit" class="btn btn-danger" id="remove_button" value="remove" disabled name="action">{% trans "Delete" %}</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block end_form %}
    </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'site/js/custom_user_validation.js' %}"></script>
{% endblock %}