{% extends "quiz/template.html" %}

{% load i18n admin_static %}

{% block header %}
    <script>
        $(function(){
            $("[data-toggle=tooltip]").tooltip();
            {% for message in messages %}
                {% ifequal message.tags 'success'  %}
                    showSuccessMessage('{{ message }}');
                {% endifequal %}
                {% ifequal message.tags 'warning' %}
                    showWarningMessage('{{ message }}');
                {% endifequal %}
                {% ifequal message.tags 'error' %}
                    showErrorMessage('{{ message }}');
                {% endifequal %}
            {% endfor %}
        });
    </script>
{% endblock %}

{% block activeUser %}class="active"{% endblock %}

{% block content %}
    <input type="text" id="action" name="action" style="visibility: hidden"/>
    <div class="tab-pane fade in active" id="mainMenuUserTab">
        <div class="col-md-10">
            <div class="container span6 offset3 well ">
                <h4>{% trans "List of researchers" %}</h4>
                <div class="form-group">
                    <table class="table table-striped" class="col-xs-12 col-md-12">
                        <thead>
                        <tr>
                            <th>{% trans "Researcher" %}</th>
                            <th>{% trans "E-mail" %}</th>
                            <th class="text-center">{% trans "Username" %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in object_list %}
                            <tr>
                                {% if user.first_name and user.last_name %}
                                    <td><a data-toggle="tooltip" data-placement="left" title="{% trans "Edit" %}" href="/user/view/{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</a></td>
                                {% else %}
                                    <td><a data-toggle="tooltip" data-placement="left" title="{% trans "Edit" %}" href="/user/view/{{ user.id }}"><em>{% trans "Name not registered" %}</em></a></td>
                                {% endif %}
                                <td>{{ user.email }}</td>
                                <td class="text-center">{% if user.user_profile.login_enabled %}{{ user.username }}{% else %}---{% endif %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if perms.auth.add_user %}
                <div class="btn-group pull-left">
                    <a href="/user/new/" class="btn btn-primary">{% trans "Insert new user" %}</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}