{% extends "quiz/template.html" %}

{% block header %}
    <script>
        $(function(){
            $("[data-toggle=tooltip]").tooltip();
            {% for message in messages %}
                {% ifequal message.tags 'success'  %}
                    showSuccessMessage('{{ message }}');
                {% endifequal %}
                {% ifequal message.tags 'warning' %}
                    showWarningMessage('{{ message }}');
                {% endifequal %}
                {% ifequal message.tags 'error' %}
                    showErrorMessage('{{ message }}');
                {% endifequal %}
            {% endfor %}
        });
    </script>
{% endblock %}

{% block activeUser %}class="active"{% endblock %}

{% block content %}
    <input type="text" id="action" name="action" style="visibility: hidden"/>
    <div class="tab-pane fade in active" id="mainMenuUserTab">
        <div class="col-md-10">
            <div class="container span6 offset3 well ">
                <h4>Lista de usuários</h4>
                <div class="form-group">
                    <table class="table table-striped" class="col-xs-12 col-md-12">
                        <thead>
                        <tr>
                            <th>Nome de usuário</th>
                            <th>Nome completo</th>
                            <th class="hidden-xs hidden-sm">E-mail</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in object_list %}
                            <tr>
                                <td><a data-toggle="tooltip" data-placement="left" title="Editar" href="/user/edit/{{ user.id }}">{{ user.username }}</a></td>
                                <td>{{ user.first_name }} {{ user.last_name }}</td>
                                <td class="hidden-xs hidden-sm">{{ user.email }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if perms.auth.add_user %}
                <div class="btn-group pull-left">
                    <a href="/user/new/" class="btn btn-primary">Inserir novo usuário</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}