{% extends "quiz/template.html" %}

{% load i18n admin_static %}

{% block header %}
    <script>
        $(function(){
            $("[data-toggle=tooltip]").tooltip();
        });
    </script>
{% endblock %}

{% block activeAdvancedSurvey %}class="active"{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}

            {% if message.tags == "success" %}
                <script>showSuccessMessage('{{ message }}')</script>
            {% endif %}

            {% if message.tags == "warning" %}
                <script>showWarningMessage('{{ message }}')</script>
            {% endif %}

            {% if message.tags == "error" %}
                <script>showErrorMessage('{{ message }}')</script>
            {% endif %}

            {% if message.tags == "info" %}
                <script>showInfoMessage('{{ message }}')</script>
            {% endif %}

        {% endfor %}
    {% endif %}

    <input type="text" id="action" name="action" style="visibility: hidden"/>
    <div class="tab-pane fade in active" id="mainMenuUserTab">
        <div class="col-md-10">
            <div class="container span6 offset3 well ">
                <h4>{% trans "List of questionnaires" %}</h4>
                <div class="form-group">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>{% trans "Questionnaire" %}</th>
                            <th style="text-align: center">{% trans "Required fill" %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for questionnaire in questionnaires_list %}
                            <tr>
                                <td><a data-toggle="tooltip" data-placement="left" title="{% trans "View" %}" href="/survey/{{ questionnaire.id }}">{{ questionnaire.lime_survey_id }} - {{ questionnaire.title }} {% if questionnaire.has_file_upload_question %}<big><b style="color: red;">!</b></big> {% endif %}</a></td>
                                <td style="text-align: center">{% if questionnaire.is_initial_evaluation %}<span class="glyphicon glyphicon-ok" style="color: royalblue"></span> {% endif %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if count_surveys_with_fileupload_question > 0 %}
                    <div class="form-group">
                        <label class="control-label"><b style="color: red;"><big>!</big> {% trans "Be aware that NES doesn't retrieve 'file upload' questions from LimeSurvey." %}
                            (<small>{% trans "See more details in" %} <a href="https://nes.readthedocs.io/en/latest/limesurvey/bestpractices.html#best-pratices-and-recommendations"><i>Best Practices and Recommendations</i></a></small>)</b></label>
                    </div>
                {% endif %}
                {% if perms.survey.add_survey %}
                    <div class="btn-group pull-left">
                        <a href="/survey/new/" class="btn btn-primary" {% if not limesurvey_available  %} disabled {% endif %}>{% trans "Insert new questionnaire" %}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}