<!DOCTYPE html>
<html xml:lang="en" lang="en">

<head>
    {% load static %}
    {% load i18n %}
    {% load l10n %}
    {% load qdc_tags %}
    {% load solo_tags %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% trans "Neuroscience Experiments System - NES" %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'imgs/favicon.ico' %}">
    <meta name="description" content="Database system for storing data related to EEG and EMG">
    <meta name="author" content="">

    <link rel="stylesheet" href="{% static 'site/jquery-ui-1.13.2/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'site/bootstrap-3.4.1-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'site/toastr/toastr.min.css' %}">
    <link rel="stylesheet" href="{% static 'site/font-awesome-4.7.0/css/font-awesome.min.css' %}">

    <style type="text/css">
        html {
            position: relative;
            min-height: 100%;
        }
        body {
            padding-top: 60px;
            margin-bottom: 50px;
            overflow-x: hidden;
        }
        .footer {
            position: absolute;
            left: 0;
            bottom: 0;
            height: 30px;
            width: 100%;
            background-color: #f5f5f5;
            font-size: 8pt;
            font-family: Verdana;
            font-weight: bold;
        }
        .version_number {
            float:right;
            margin-right: 10px;
            margin-top: 8px;
        }
        .thumbnail {
            border: 0 none;
            box-shadow: none;
        }
        .unbuttonmize:hover, .unbuttonmize:focus {
            background-color: white;
            border-color: #ccc;
            cursor: default;
        }
        .unbuttonmize:focus {
            outline-style: none;
        }
        .unbuttonmize:active {
            box-shadow: none;
        }
        .import-results {
            background-color: #dff0d8;
        }
        .content {
            margin-top:20px;
        }
        
        textarea {
            resize: vertical;
        }
         
        @media screen and (min-width: 992px) {
            #sidenav-left {
                position: fixed;
                width: auto;
            }
            .sidenav {
                height: auto;
                padding: 15px;
            }
            .row.content {
                height: auto;
            }
        }

    </style>

    {% block header %}{% endblock %}
</head>

<body>
    
<header>
    <form  id="language_form" action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <nav class="navbar  navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home/">{% trans "NES" %}</a>
            </div>
            
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ol class="nav navbar-nav navbar-right">
                    {% if perms.configuration.upgrade_rights and if_upgrade %}
                        <li>
                            <a href="/home/upgrade_nes/"><span class="fa fa-download"></span>Upgrade_nes</a>
                        </li>
                    {% endif %}
                    <li>
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}

                        <input id="language" name="language" type="hidden">
                        <a class="btn-default dropdown-toggle navbar-inverse" data-toggle="dropdown" href="#">
                            <span  class="fa fa-globe"></span>
                            {{ LANGUAGE_CODE|language_name_local }}
                            <span class="caret"></span>
                        </a> 
                        
                        <ul class="dropdown dropdown-user dropdown-menu" role="menu" name="language">
                            {% for language in languages %}
                                {% if language.code != LANGUAGE_CODE %}
                                    <li>
                                        <a href="javascript:{}" onclick="$('#language').val('{{ language.code }}');document.getElementById('language_form').submit();">
                                            <span  class="fa fa-globe"></span>
                                            {{ language.name_local }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>   
                    </li>
                    <li>
                        <a class="btn-default dropdown-toggle navbar-inverse"
                        data-toggle="dropdown" href="#">
                            <span  class="fa fa-user-circle"></span> {{ request.user.username }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown dropdown-user dropdown-menu" role="menu">
                            {% if request.user.is_superuser %}
                                <li><a href="/admin"><span class="fa fa-star"></span> {% trans "Admin" %}</a></li>
                            {% endif %}
                            <li><a href="/password_change"><span class="fa fa-key"></span> {% trans "Change password" %}</a></li>
                            <li><a href="{% url 'logout' %}"><span class="fa fa-power-off"></span> {% trans "Logout" %}</a></li>
                        </ul>

                    </li>
                </ol>
            </div>
        </div>
    </nav>
</form>
</header>

{% block form %}{% endblock %}

<div id="main" class="container">
    <div class="row">
        <nav class="col-xs-12 col-md-2" id="#leftCol">
            <ul class="nav nav-pills nav-stacked sidenav" id="sidenav-left">

                <li {% block activeContact %}{% endblock %}>
                    <a href="/home/">
                        <span class="fa fa-home"></span>
                        {% trans "Home" %}
                    </a>
                </li>

                {% if perms.patient.view_patient %}
                    <li {% block activePatient %}{% endblock %} >
                        <a href="/patient/find/" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Add people that participated in the experiments' %}">
                            <span class="fa fa-users"></span>
                            {% trans "Participants" %}
                        </a>
                    </li>
                {% endif %}

                {% if perms.experiment.view_researchproject %}
                    <li {% block activeAdvancedResearchProject %}{% endblock %}>
                        <a href="/experiment/research_project/list/" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Add publications' %}">
                            <span class="fa fa-graduation-cap"></span>
                            {% trans "Studies" %}
                        </a>
                    </li>
                {% endif %}

                {% if perms.experiment.view_researchproject %}
                    <li {% block activeAdvancedPublication %}{% endblock %}>
                        <a href="/experiment/publication/list/" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Add publications' %}">
                            <span class="fa fa-book"></span>
                            {% trans "Publications" %}
                        </a>
                    </li>
                {% endif %}

                {% if perms.survey.view_survey %}
                    <li {% block activeAdvancedSurvey %}{% endblock %}>
                        <a href="/survey/list/" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Add users and institutions to the database' %}">
                            <span class="fa fa-list-alt"></span>
                            {% trans "Questionnaires" %}
                        </a>
                    </li>
                {% endif %}

                {% if perms.auth.add_user and perms.auth.change_user %}
                    <li {% block activeUser %}{% endblock %}>
                        <a href="/user/list/" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Add users and institutions to the database' %}">
                            <span class="fa fa-user"></span>
                            {% trans "Researchers" %}
                        </a>
                    </li>
                {% endif %}

                {% if perms.patient.export_patient or perms.patient.export_questionnaireresponse or perms.patient.export_medicalrecorddata %}
                    <li {% block activeExport %}{% endblock %}>
                        <a href="/export/" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Export your projects' %}">
                            <span class="fa fa-upload"></span>
                            {% trans "Export" %}
                        </a>
                    </li>
                {% endif %}

                {% if perms.experiment.register_equipment %}
                    <li {% block activeSetup %}{% endblock %}>
                        <a href="/experiment/setup/" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Here you can setup the equipments used in the projects' %}">
                            <span class="fa fa-cog"></span>
                            {% trans "Set up" %}
                        </a>
                    </li>
                {% endif %}

                {% get_solo 'plugin.RandomForests' as random_forests %}
                {% if perms.plugin.can_send_data_to_plugin and random_forests.admission_assessment and random_forests.surgical_evaluation and random_forests.followup_assessment and random_forests.plugin_url %}
                    <li {% block activePlugin %}{% endblock %}>
                        <a href="/plugin/">
                            <span class="fa fa-cloud-upload"></span>
                            {% trans "Plugin" %}
                        </a>
                    </li>
                {% endif %}

            </ul>
        </nav>

        <div class="col-xs-12 col-md-10 content">
            <div id="myMenuContent" class="tab-content">
                <noscript><h1 align="center">{% trans "Please enable Javascript" %} <span style="color: red; font-weight: bold">*</span></h1></noscript>
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>
</div>

{% block end_form %}{% endblock %}

<footer class="footer">
    <div class="container">
        <a href="http://ccsl.ime.usp.br">
            <img src="{% static 'imgs/logo-ccsl-sm.png' %}" alt="Logo do Centro de Competência em Software Livre" height="34px" width="96px">
        </a>

        <span class="version_number">v{% settings_value "VERSION" %}</span>
    </div>
</footer>


<script type="text/javascript" src="{% static 'site/jquery/jquery-2.2.4.js' %}"></script>
<script type="text/javascript" src="{% static 'site/jquery/jquery-migrate-1.4.1.js' %}"></script>
<script type="text/javascript" src="{% static 'site/jquery-ui-1.13.2/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'site/bootstrap-3.4.1-dist/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'site/masked_input/jquery.maskedinput.min.js' %}"></script>
<script type="text/javascript" src="{% static 'site/Bootstrap-Validator-Master/validator.min.js' %}"></script>
<script type="text/javascript" src="{% static 'site/toastr/toastr.min.js' %}"></script>
<script type="text/javascript" src="{% static 'site/js/quiz.js' %}"></script>
<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>

<script type="text/javascript">
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == "success" %}
                showSuccessMessage('{{ message }}');
            {% endif %}
            {% if message.tags == "warning" %}
                showWarningMessage('{{ message }}');
            {% endif %}
            {% if message.tags == "error" %}
                showErrorMessage('{{ message }}');
            {% endif %}
            {% if message.tags == "info" %}
                showInfoMessage('{{ message }}');
            {% endif %}
        {% endfor %}

    {% endif %}
    {% if survey_form.errors %}
        showErrorMessage(gettext('Please, correct the highlighted fields.'))
    {% endif %}

    $(function(){
        $("[data-toggle=tooltip]").tooltip();
    });
</script>
{% block script %}{% endblock %}
</body>
</html>