<!DOCTYPE html>
<html xml:lang="en" lang="en">

<head>
    {% load static %}
    {% load i18n %}
    {% load l10n %}
    {% load qdc_tags %}
    {% load solo_tags %}
    {% load cache %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% trans "Neuroscience Experiments System - NES" %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'imgs/favicon.ico' %}">
    <meta name="description" content="Database system for storing data related to EEG and EMG">
    <meta name="author" content="">

    <link rel="stylesheet" href="{% static 'site/jquery-ui-1.13.2/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'site/bootstrap-4.6.2-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'site/toastr/toastr.min.css' %}">
    <link rel="stylesheet" href="{% static 'site/font-awesome-4.7.0/css/font-awesome.min.css' %}">

    <style type="text/css">
        html {
            position: relative;
            min-height: 100%;
        }
        body {
            padding-top: 60px;
            margin-bottom: 50px;
            overflow-x: hidden;
        }
        .footer {
            position: absolute;
            left: 0;
            bottom: 0;
            height: 30px;
            width: 100%;
            background-color: #f5f5f5;
            font-size: 8pt;
            font-family: Verdana;
            font-weight: bold;
        }
        .version_number {
            float:right;
            margin-right: 10px;
            margin-top: 8px;
        }
        .thumbnail {
            border: 0 none;
            box-shadow: none;
        }
        .unbuttonmize:hover, .unbuttonmize:focus {
            background-color: white;
            border-color: #ccc;
            cursor: default;
        }
        .unbuttonmize:focus {
            outline-style: none;
        }
        .unbuttonmize:active {
            box-shadow: none;
        }
        .import-results {
            background-color: #dff0d8;
        }
        .content {
            margin-top:20px;
        }
        
        textarea {
            resize: vertical;
        }

    </style>

    {% block header %}{% endblock %}
</head>

<body>
<header>
    <form  id="language_form" action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" role="navigation">
            <div class="container">
                <a class="navbar-brand" href="/home/">{% trans "NES" %}</a>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                
                <div class="navbar-collapse collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto">
                        {% if perms.configuration.upgrade_rights and if_upgrade %}
                            <li class="nav-item">
                                <a href="/home/upgrade_nes/" class="nav-link"><span class="fa fa-download fa-fw"></span>Upgrade_nes</a>
                            </li>
                        {% endif %}
                        <li class="nav-item dropdown">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}

                            <input id="language" name="language" type="hidden">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="fa fa-globe fa-fw"></span> {{ LANGUAGE_CODE|language_name_local }}
                            </a> 
                            
                            <div class="dropdown-menu" role="menu" name="language" aria-labelledby="navbarDropdown">
                                {% for language in languages %}
                                    {% if language.code != LANGUAGE_CODE %}
                                        <a href="javascript:{}" class="dropdown-item" onclick="$('#language').val('{{ language.code }}');document.getElementById('language_form').submit();">
                                            <span  class="fa fa-globe fa-fw"></span>
                                            {{ language.name_local }}
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </div>   
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="fa fa-user-circle fa-fw"></span> {{ request.user.username }}
                            </a>
                            <div class="dropdown-menu" role="menu" aria-labelledby="navbarDropdown">
                                {% if request.user.is_superuser %}
                                    <a href="/admin" class="dropdown-item"><span class="fa fa-star fa-fw"></span> {% trans "Admin" %}</a>
                                {% endif %}
                                <a href="/password_change" class="dropdown-item"><span class="fa fa-key fa-fw"></span> {% trans "Change password" %}</a>
                                <a href="https://nes.readthedocs.io/en/latest/userguide/userguide.html" class="dropdown-item"><span class="fa fa-question-circle fa-fw"></span> {% trans "Help" %}</a>
                                <a href="{% url 'logout' %}" class="dropdown-item"><span class="fa fa-power-off fa-fw"></span> {% trans "Logout" %}</a>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </form>
</header>

{% block form %}{% endblock %}

<div id="main" class="container">
    <div class="row">
        <nav class="col-12 col-lg-2">
            <ul class="nav nav-pills nav-fill flex-column">

                <li class="nav-item">
                    <a href="/home/" class="nav-link {% block activeContact %}{% endblock %}">
                        <span class="fa fa-home fa-fw fa-lg"></span>
                        {% trans "Home" %}
                    </a>
                </li>

                {% if perms.patient.view_patient %}
                    <li class="nav-item">
                        <a href="/patient/find/" class="nav-link {% block activePatient %}{% endblock %}" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Add people that participated in the experiments' %}">
                            <span class="fa fa-users fa-fw fa-lg"></span>
                            {% trans "Participants" %}
                        </a>
                    </li>
                {% endif %}

                {% if perms.experiment.view_researchproject %}
                    <li class="nav-item">
                        <a href="/experiment/research_project/list/" class="nav-link {% block activeAdvancedResearchProject %}{% endblock %}" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Add publications' %}">
                            <span class="fa fa-graduation-cap fa-fw fa-lg"></span>
                            {% trans "Studies" %}
                        </a>
                    </li>
                {% endif %}

                {% if perms.experiment.view_researchproject %}
                    <li class="nav-item">
                        <a href="/experiment/publication/list/" class="nav-link {% block activeAdvancedPublication %}{% endblock %}" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Add publications' %}">
                            <span class="fa fa-book fa-fw fa-lg"></span>
                            {% trans "Publications" %}
                        </a>
                    </li>
                {% endif %}

                {% if perms.survey.view_survey %}
                    <li class="nav-item">
                        <a href="/survey/list/" class="nav-link {% block activeAdvancedSurvey %}{% endblock %}" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Add users and institutions to the database' %}">
                            <span class="fa fa-list-alt fa-fw fa-lg"></span>
                            {% trans "Questionnaires" %}
                        </a>
                    </li>
                {% endif %}

                {% if perms.auth.add_user and perms.auth.change_user %}
                    <li class="nav-item">
                        <a href="/user/list/" class="nav-link {% block activeUser %}{% endblock %}" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Add users and institutions to the database' %}">
                            <span class="fa fa-user fa-fw fa-lg"></span>
                            {% trans "Researchers" %}
                        </a>
                    </li>
                {% endif %}

                {% if perms.patient.export_patient or perms.patient.export_questionnaireresponse or perms.patient.export_medicalrecorddata %}
                    <li class="nav-item">
                        <a href="/export/" class="nav-link {% block activeExport %}{% endblock %}" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Export your projects' %}">
                            <span class="fa fa-upload fa-fw fa-lg"></span>
                            {% trans "Export" %}
                        </a>
                    </li>
                {% endif %}

                {% if perms.experiment.register_equipment %}
                    <li class="nav-item">
                        <a href="/experiment/setup/" class="nav-link {% block activeSetup %}{% endblock %}" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Here you can setup the equipments used in the projects' %}">
                            <span class="fa fa-pencil fa-fw fa-lg"></span>
                            {% trans "Set up" %}
                        </a>
                    </li>
                {% endif %}
                
                {% cache 600 plugin_random_forests request.user.username using="redis"%}
                {% get_solo 'plugin.RandomForests' as random_forests %}
                {% endcache %}
                {% if perms.plugin.can_send_data_to_plugin and random_forests.admission_assessment and random_forests.surgical_evaluation and random_forests.followup_assessment and random_forests.plugin_url %}
                    <li class="nav-item">
                        <a href="/plugin/" class="nav-link {% block activePlugin %}{% endblock %}">
                            <span class="fa fa-cloud-upload fa-fw fa-lg"></span>
                            {% trans "Plugin" %}
                        </a>
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a href="/links/" class="nav-link {% block activeLinks %}{% endblock %}" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Useful links of tools' %}">
                        <span class="fa fa-link fa-fw fa-lg"></span>
                        {% trans "Useful Links" %}
                    </a>
                </li>

            </ul>
        </nav>

        <div class="col-12 col-lg-10 content">
            <div id="myMenuContent" class="tab-content">
                <noscript><h1 align="center">{% trans "Please enable Javascript" %} <span style="color: red; font-weight: bold">*</span></h1></noscript>
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>
</div>

{% block end_form %}{% endblock %}

<footer class="footer">
    <div class="container">
        <a href="http://ccsl.ime.usp.br">
            <img src="{% static 'imgs/logo-ccsl-sm.png' %}" alt="Logo do Centro de Competência em Software Livre" height="34px" width="96px">
        </a>

        <span class="version_number">v{% settings_value "VERSION" %}</span>
    </div>
</footer>


<script type="text/javascript" src="{% static 'site/jquery/jquery-2.2.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'site/jquery-ui-1.13.2/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'site/bootstrap-4.6.2-dist/js/bootstrap.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'site/masked_input/jquery.maskedinput.min.js' %}"></script>
<script type="text/javascript" src="{% static 'site/Bootstrap-Validator-Master/validator.min.js' %}"></script>
<script type="text/javascript" src="{% static 'site/toastr/toastr.min.js' %}"></script>
<script type="text/javascript" src="{% static 'site/js/quiz.js' %}"></script>
<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>

<script type="text/javascript">
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == "success" %}
                showSuccessMessage('{{ message }}');
            {% endif %}
            {% if message.tags == "warning" %}
                showWarningMessage('{{ message }}');
            {% endif %}
            {% if message.tags == "error" %}
                showErrorMessage('{{ message }}');
            {% endif %}
            {% if message.tags == "info" %}
                showInfoMessage('{{ message }}');
            {% endif %}
        {% endfor %}
    {% endif %}

    $(function(){
        $("[data-toggle=tooltip]").tooltip();
    });
</script>
{% block script %}{% endblock %}
</body>
</html>