{% extends "base/template.html" %}

{% load i18n %}

{% block content %}
    <div class="tab-pane fade show active" id="mainMenuUserTab">
        <div class="col-lg-10 text-center">
            <h1>{% trans "404 Page Not Found" %}</h1>
            <p>{% trans "This page does not exist yet!" %}</p>
        </div>
        <div class="btn-toolbar">
            <div class="btn-group float-end">
                <a href="#" onclick="window.history.go(-1);" class="btn btn-light">{% trans 'Back' %}</a>
            </div>
        </div>
    </div>
{% endblock content %}
