{% extends "base/template.html" %}

{% block activeLinks %} active {% endblock activeLinks %}

{% load i18n static %}

{% block content %}
    <div class="tab-pane fade show active" id="researchProjectBreadCrumb">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
                <li class="breadcrumb-item"><a href="/home/">{% trans 'Home' %}</a></li>
                <li class="breadcrumb-item active">
                    {% trans 'Useful Links' %}
                </li>
            </ol>
        </nav>
    </div>

    <div class="my-3 p-3 bg-body rounded shadow-sm">
        <h4>{% trans "Useful Links" %}</h4>
        <hr class="hr">
        <ul class="list-group list-group-flush">
        {% for link in useful_links %}
            <li class="list-group-item">
                {{ link.name }}
                <a href="{{ link.url }}">{{ link.url }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>

    {% if request.user.is_superuser %}
        <a href="/admin/configuration/usefullink/" class="btn btn-info"><span class="fa fa-link fa-fw"></span> {% trans "Add new link" %}</a>
    {% endif %}

{% endblock content %}