{% extends "quiz/template.html" %}
{% block activeContact %}class="active"{% endblock %}

{% block content %}
    <!-- Esta div está associada ao item Contato do Menu princial -->
    <div class="tab-pane fade in active" id="mainMenuContactTab">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <h3>Instituto de Neurologia Deolindo Couto</h3>

            <h5>Sistema de Cadastro e Consulta de Dados Sociodemográficos e Clínicos</h5>
            <!-- <h5>Av. Venceslau Brás, 95 - Botafogo - Campus da Praia Vermelha.</h5>-->
            <h5>Dúvidas e Sugestões: claudiadvargas at gmail dot com </h5>
        </div>
    </div> <!-- <div class="tab-pane fade" id="mainMenuContactTab"> -->
{% endblock %}