{% extends "quiz/template.html" %}
{% block activeContact %}class="active"{% endblock %}
{% load static %}

{% load i18n static %}

{% load solo_tags %}

{% block content %}

    {% get_solo 'configuration.LocalInstitution' as institution_config %}
    {% get_solo 'configuration.Contact' as contact_config %}

    {% if messages %}
        {% for message in messages %}

            {% if message.tags == "success" %}
                <script>showSuccessMessage('{{ message }}')</script>
            {% endif %}

            {% if message.tags == "warning" %}
                <script>showWarningMessage('{{ message }}')</script>
            {% endif %}

            {% if message.tags == "error" %}
                <script>showErrorMessage('{{ message }}')</script>
            {% endif %}

            {% if message.tags == "info" %}
                <script>showInfoMessage('{{ message }}')</script>
            {% endif %}

        {% endfor %}
    {% endif %}

    <div class="tab-pane fade in active" id="mainMenuContactTab">

            <div class="container-fluid">
                <h3>{% trans "Neuroscience Experiments System - NES" %}</h3>

                <br/>

                <div class="container">
                    {% if institution_config.code %}
                        <h4 class="text-left"><span class="fa fa-institution mr-3"></span> {{ institution_config.code }}</h4>
                    {% endif %}

                    {% if contact_config.name %}
                        <h5 class="text-left"><span class="fa fa-user mr-3"></span> {{ contact_config.name }}</h5>
                    {% endif %}

                    {% if contact_config.email %}
                        <h5 class="text-left"><span class="fa fa-envelope mr-3"></span> <a href="mailto:{{ contact_config.email }}?Subject=NES">{{ contact_config.email }}</a></h5>
                    {% endif %}
                </div>
            </div>

            <br/>
            <div class="container-fluid" style="">
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="http://ccsl.ime.usp.br/">
                        <img class="img-responsive" src="{% static 'data/imgs/logo-ccsl.jpg' %}" alt="Logo do CCSL">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb" >
                    <a class="thumbnail" href="http://www.ime.usp.br">
                        <img class="img-responsive" src="{% static 'data/imgs/logo-ime.jpg' %}" alt="Logo do IME">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="http://www.usp.br">
                        <img class="img-responsive" src="{% static 'data/imgs/logo-usp.jpg' %}" alt="Logo da USP">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail"  href="https://www.peb.ufrj.br/">
                        <img class="img-responsive" src="{% static 'data/imgs/logo-peb.png' %}" alt="Logo do PEB">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail"  href="https://www.ufrj.br">
                        <img class="img-responsive" src="{% static 'data/imgs/logo-ufrj.jpg' %}" alt="Logo da UFRJ">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="http://neuromat.numec.prp.usp.br">
                        <img class="img-responsive" src="{% static 'data/imgs/logo-neuromat.jpg' %}" alt="Logo do NeuroMat">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="http://www.fapesp.br">
                        <img class="img-responsive" src="{% static 'data/imgs/logo-fapesp.jpg' %}" alt="Logo da FAPESP">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="https://www.gov.br/cnpq/pt-br">
                        <img class="img-responsive" src="{% static 'data/imgs/logo-cnpq.jpg' %}" alt="Logo do CNPQ">
                    </a>
                </div>
                {% if institution_config.url %}
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="{{ institution_config.url }}">

                        {% if institution_config.logo %}
                            <img class="img-responsive" src="/media/{{ institution_config.logo }}" alt="Logo do {{ institution_config.name }}">
                        {% else %}
                            <img class="img-responsive" src="{{STATIC_URL}}quiz/imgs/{{ logo_institution }}" alt="Logo do {{ institution_config.name }}">
                        {% endif %}

                        </a>
                    </div>
                {% endif %}
            </div>
    </div>
{% endblock %}