{% extends "quiz/template.html" %}
{% block activePatient %}class="active"{% endblock %}

{% block header %}

    <script type="text/javascript">

        $(document).ready(function () {
            $("#idTabs li:eq( {{ currentTab }} ) a").tab('show');
        });

        $(document).ready(function () {

            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {

                //-- condicionar para o edit

                //-- salvar ao trocar de aba
                $("#form_medical_record").submit();


{#                alert("ola 'html'");#}
{#                alert(e.relatedTarget);#}
{#                alert(e.target);#}
            });
        });

        $(function(){
            $("[data-toggle=tooltip]").tooltip();
        });
        function show_modal_remove (patient_id, diagnosis_id){
            var  modal_remove = document.getElementById('removeDiagnosis');
            modal_remove.setAttribute( "href", '/quiz/diagnosis/delete/' + patient_id + '/' + diagnosis_id);
            $('#modalRemove').modal('show');
        }
        $(function() {
            $('.fill_input_link').live('click', function() {
                $("#id_whichComplementaryExame").val($(this).html());
            });
        });

    </script>

{% endblock %}

{% block form %}
    <div class="row">

    <form id="form_medical_record" role="form" method="post" data-toggle="validator">
    {% csrf_token %}

{% endblock %}


{% block content %}

    <div class="tab-pane fade in active" id="medicalRecordTab">

    <div class="col-md-1">
    </div>

    <div class="col-md-10">

    <ol class="breadcrumb">
        <li>Pacientes</li>
        {% if editing %}
            <li><a href="/quiz/patient/edit/{{ patient_id }}/?currentTab=3">{{ name_patient }}</a></li>
        {% else %}
            <li><a href="/quiz/patient/{{ patient_id }}/?currentTab=3">{{ name_patient }}</a></li>
        {% endif %}
        <li class="active">Avaliação médica</li>
    </ol>

    {% if not creating %}
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <div class="form-group">
                    <label>Data:</label> {{ record_date }}
                    <label>Responsável:</label> {{ record_responsible }}
                </div>
                <div class="input-group  input-group-sm ">
                </div>

            </div>
            <div class="col-md-1">
            </div>
        </div>
    {% endif %}

<!-- Inicio ESR -->

    <!-- Mensagens geradas na view -->
    {% if messages %}
        {% for message in messages %}

            {% if message.tags == "success" %}
                <script>showSuccessMessage('{{ message }}')</script>
            {% endif %}

            {% if message.tags == "warning" %}
                <script>showWarningMessage('{{ message }}')</script>
            {% endif %}

            {% if message.tags == "error" %}
                <script>showErrorMessage('{{ message }}')</script>
            {% endif %}

            {% if message.tags == "info" %}
                <script>showInfoMessage('{{ message }}')</script>
            {% endif %}

        {% endfor %}
    {% endif %}

    <!-- Mostra todas as mensagens do formulário -->
    {% if medical_record_form.errors %}

{% comment %}
        {% for field in medical_record_form %}
            {% if field.errors %}
                <script>showErrorMessage('{{ field.errors|striptags }}')</script>
            {% endif %}
        {% endfor %}
{% endcomment %}

        <script>showErrorMessage('Avaliação médica não salva. Os campos marcados com (*) são obrigatórios')</script>

    {% endif %}

<!-- Fim ESR -->

    <ul class="nav nav-tabs nav-justified" id="idTabs">
        <li class="active"><a href="#tab1" data-toggle="tab" id="0">História de saúde</a></li>
        <li><a href="#tab2" data-toggle="tab" id="1">História de fratura</a></li>
        <li><a href="#tab3" data-toggle="tab" id="2">Cirurgia ortopédica</a></li>
        <li><a href="#tab4" data-toggle="tab" id="3">Diagnósticos e exames</a></li>
    </ul>

    <input type="text" id="currentTab" name="currentTab" value="{{ currentTab }}" style="visibility: hidden"/>

    <div id="fix-for-tab-content-spacing" style="height: 22px;">&nbsp;</div>

    <div class="tab-content">

    <div class="tab-pane active" id="tab1">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="container span6 offset3 well ">
                    <div class="row">
                        <div class="col-xs-6 col-sm-3">
                            <div class="form-group">
                                <label>Cirurgia de nervo <b style="color: red;">*</b></label>

                                <div class="input-group  input-group-sm">
                                    <div class="input-group  input-group-sm">
                                        {% for radio in medical_record_form.nerve_surgery %}
                                            <div class="radio-inline">
                                                {{ radio }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-9">
                            <div class="form-group">
                                <label>Qual?</label>

                                <div class="input-group  input-group-sm ">
                                            <span class="input-group-addon"> <span
                                                    class="glyphicon glyphicon-edit"></span></span>
                                    {{ medical_record_form.nerve_surgery_type }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-12">
                            <div class="form-group">
                                <label>História de vertigem ou tontura <b style="color: red;">*</b></label>

                                <div class="input-group  input-group-sm">
                                    <div class="input-group  input-group-sm">
                                        {% for radio in medical_record_form.vertigo_history %}
                                            <div class="radio-inline">
                                                {{ radio }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-12">
                            <div class="form-group">
                                <label>História prévia de dor</label>

                                <div class="form-group">
                                    <div class="input-group  input-group-sm">
                                        {% for radio in medical_record_form.pain_localizations %}
                                            <div class="myradio">
                                                {{ radio }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-12">
                            <div class="form-group">
                                <label>Cefaléia <b style="color: red;">*</b></label>

                                <div class="input-group  input-group-sm">
                                    {% for radio in medical_record_form.headache %}
                                        <div class="radio-inline">
                                            {{ radio }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group">
                                <label data-toggle="tooltip" data-placement="left" title="Hipertensão arterial sistêmica">HAS <b style="color: red;">*</b></label>

                                <div class="input-group  input-group-sm">
                                    <div class="input-group  input-group-sm">
                                        {% for radio in medical_record_form.hypertension %}
                                            <div class="radio-inline">
                                                {{ radio }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group">
                                <label>Diabetes <b style="color: red;">*</b></label>

                                <div class="input-group  input-group-sm">
                                    {% for radio in medical_record_form.diabetes %}
                                        <div class="radio-inline">
                                            {{ radio }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group">
                                <label>Disfunção hormonal <b style="color: red;">*</b></label>

                                <div class="input-group  input-group-sm">
                                    {% for radio in medical_record_form.hormonal_dysfunction %}
                                        <div class="radio-inline">
                                            {{ radio }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
           <div class="col-md-1"></div>
        </div>
    </div>

    <div class="tab-pane" id="tab2">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="container span6 offset3 well ">
                    <div class="row">
                        <div class="col-xs-6 col-sm-12">
                            <div class="form-group">
                                <label>História de fratura</label>

                                <div class="input-group  input-group-sm">
                                    <div class="input-group  input-group-sm">
                                        {% for radio in medical_record_form.fracture_history %}
                                            <div class="radio-inline">
                                                {{ radio }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <fieldset id="id_fieldFractHistory">
                        <div class="row">
                            <div class="col-xs-6 col-sm-4">
                                <div class="form-group">
                                    <label>Fratura de escápula</label>

                                    <div class="input-group  input-group-sm">
                                        {% for radio in medical_record_form.scapula_fracture_side %}
                                            <div class="myradio">
                                                {{ radio }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4">
                                <div class="form-group">
                                    <label>Fratura de clavícula</label>

                                    <div class="input-group  input-group-sm">
                                        {% for radio in medical_record_form.clavicle_fracture_side %}
                                            <div class="myradio">
                                                {{ radio }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4">
                                <div class="form-group">
                                    <label>Fratura de costela</label>

                                    <div class="input-group  input-group-sm">
                                        {% for radio in medical_record_form.rib_fracture %}
                                            <div class="radio-inline">
                                                {{ radio }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-12">
                                <div class="form-group">
                                    <label>Fratura vertebral cervical</label>

                                    <div class="input-group  input-group-sm">
                                        {% for radio in medical_record_form.cervical_vertebrae_fracture %}
                                            <div class="checkbox-inline">
                                                {{ radio }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-12">
                                <div class="form-group">
                                    <label>Fratura vertebral torácica</label>

                                    <div class="input-group  input-group-sm">
                                        {% for radio in medical_record_form.thoracic_vertebrae_fracture %}
                                            <div class="checkbox-inline">
                                                {{ radio }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-12">
                                <div class="form-group">
                                    <label>Fratura vertebral Lombo-sacral</label>

                                    <div class="input-group  input-group-sm">
                                        {% for radio in medical_record_form.lumbosacral_vertebrae_fracture %}
                                            <div class="checkbox-inline">
                                                {{ radio }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-4">
                                <div class="form-group">
                                    <label>Fratura de membros superiores</label>

                                    <div class="input-group  input-group-sm">
                                        {% for radio in medical_record_form.superior_members_fracture_side %}
                                            <div class="myradio">
                                                {{ radio }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4">
                                <div class="form-group">
                                    <label>Fratura de membros inferiores</label>

                                    <div class="input-group  input-group-sm">
                                        {% for radio in medical_record_form.inferior_members_fracture_side %}
                                            <div class="myradio">
                                                {{ radio }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4">
                                <div class="form-group">
                                    <label>Fratura de pelve</label>

                                    <div class="input-group  input-group-sm">
                                        {% for radio in medical_record_form.pelvis_fracture_side %}
                                            <div class="myradio">
                                                {{ radio }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <div class="tab-pane" id="tab3">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="container span6 offset3 well ">
                    <div class="row">

                        <div class="col-xs-6 col-sm-12">
                            <div class="form-group">
                                <label>Cirurgia ortopédica</label>

                                <div class="input-group  input-group-sm">
                                    {% for radio in medical_record_form.orthopedic_surgery %}
                                        <div class="radio-inline">
                                            {{ radio }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                    </div>
                    <fieldset id="id_fieldSetOrtSurg">
                        <div class="row">
                            <div class="col-xs-6 col-sm-4">
                                <div class="form-group">
                                    <label>Escápula</label>

                                    <div class="input-group  input-group-sm">
                                        {% for radio in medical_record_form.scapula_surgery_side %}
                                            <div class="myradio">
                                                {{ radio }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4">
                                <div class="form-group">
                                    <label>Clavícula</label>

                                    <div class="input-group  input-group-sm">
                                        {% for radio in medical_record_form.clavicle_surgery_side %}
                                            <div class="myradio">
                                                {{ radio }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4">
                                <div class="form-group">
                                    <label>Costela</label>

                                    <div class="input-group  input-group-sm">
                                        {% for radio in medical_record_form.rib_surgery %}
                                            <div class="radio-inline">
                                                {{ radio }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-12">
                                <div class="form-group">
                                    <label>Coluna vertebral cervical</label>

                                    <div class="input-group  input-group-sm">
                                        {% for radio in medical_record_form.cervical_vertebrae_surgery %}
                                            <div class="radio-inline">
                                                {{ radio }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-12">
                                <div class="form-group">
                                    <label>Coluna vertebral torácica</label>

                                    <div class="input-group  input-group-sm">
                                        {% for radio in medical_record_form.thoracic_vertebrae_surgery %}
                                            <div class="radio-inline">
                                                {{ radio }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-12">
                                <div class="form-group">
                                    <label>Coluna vertebral lombo-sacral</label>

                                    <div class="input-group  input-group-sm">
                                        {% for radio in medical_record_form.lumbosacral_vertebrae_surgery %}
                                            <div class="radio-inline">
                                                {{ radio }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-4">
                                <div class="form-group">
                                    <label>Membros superiores</label>

                                    <div class="input-group  input-group-sm">
                                        {% for radio in medical_record_form.superior_members_surgery_side %}
                                            <div class="myradio">
                                                {{ radio }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4">
                                <div class="form-group">
                                    <label>Membros inferiores</label>

                                    <div class="input-group  input-group-sm">
                                        {% for radio in medical_record_form.inferior_members_surgery_side %}
                                            <div class="myradio">
                                                {{ radio }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4">
                                <div class="form-group">
                                    <label>Pelve</label>

                                    <div class="input-group  input-group-sm">
                                        {% for radio in medical_record_form.pelvis_surgery_side %}
                                            <div class="myradio">
                                                {{ radio }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <div class="tab-pane" id="tab4">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="container span6 offset3 well ">
                {% if editing %}
                    <div class="row">
                        <div class="col-xs-6 col-sm-9" >
                            <div class="form-group">
                                <input id="patient_id" value="{{ patient_id }}" style="display: none;">
                                <input id="medical_record_id" value="{{ record_id }}" style="display: none;">
                                <div class="input-group  input-group-sm ">
                                                            <span class="input-group-addon"> <span
                                                                    class="glyphicon glyphicon-edit"></span></span>
                                    <input class="form-control" placeholder="Especificar o diagnóstico da doença ou o código da doença (CID-10)"
                                           id="id_whichComplementaryExame" type="text">

                                </div>
                                {# Entry for search results in CID-10 table #}
                                {% csrf_token %}
                                <ul id="search-results" style="list-style: none;"></ul>
                            </div>
                        </div>
                    </div>
                {% endif %}
                    <div class="row">
                        <div class="col-xs-6 col-sm-9">
                            <div class="form-group">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Diagnóstico</th>
                                            <th></th> {# cabeçalho vazio para coluna de exclusão #}
                                            <th>Exames</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% if not object_list %}
                                        <tr>
                                            <td>(sem diagnósticos)</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    {% else %}
                                        {% for diagnosis, diagnosis_exams in lists_diagnosis_exams %}
                                            <tr>
                                                <td>{{ diagnosis.classification_of_diseases }}</td>
                                                <td>
                                                    {% if editing %}
                                                        <a class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="right" title="Remover" style="color: indianred"
                                                           onclick="show_modal_remove({{ patient_id }}, {{ diagnosis.id }})"></a>
                                                    {% endif %}
                                                </td>
                                                {% if diagnosis_exams %}
                                                    {% for exams in diagnosis_exams %}
                                                        <td>
                                                            <a href="diagnosis/{{  diagnosis.id }}/exam/{{ exams.id }}/?status={{ status_mode }}">{{ exams.description }}</a>
                                                        </td>
                                                        <tr></tr>
                                                        <td style="border: 0;"></td>
                                                        <td style="border: 0;"></td>
                                                    {% endfor %}
                                                {% else %}
                                                    {% if not editing %}
                                                        <td></td>
                                                    {% endif %}
                                                {% endif %}
                                                {% if editing %}
                                                    <td><a href="diagnosis/{{ diagnosis.id }}/exam/new/" class="btn btn-primary">Inserir exame</a></td>
                                                {% else %}
                                                    <td style="border: 0;"></td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    </div>
    <!-- tab-content -->

    </div>

    <div class="col-md-1">
    </div>

    </div>

    <!-- Esta div define os botões de navegação no formulário -->
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <div class="btn-group pull-right">
                {% if creating or editing %}
                    <button type="submit" class="btn btn-primary">Salvar avaliação</button>
                {% endif %}
            </div>
        </div>
        <div class="col-md-1">
        </div>

    </div>

    <div class="modal fade" id="modalRemove" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    Tem certeza que deseja excluir o diagnóstico?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <a type="button" class="btn btn-primary" id="removeDiagnosis" style="background-color: indianred; color: #ffffff" href="">Excluir</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block end_form %}
    </form>
    </div>
{% endblock %}
