{% extends "quiz/template.html" %}
{% block activeUser %}class="active"{% endblock %}

{% block header %}

    <script type="text/javascript">
        function checkPass()
        {
            //Store the password field objects into variables ...
            var pass1 = document.getElementById('id_password');
            var pass2 = document.getElementById('id_password2');
            //Store the Confimation Message Object ...
            var message = document.getElementById('confirmMessage');
            //Set the colors we will be using ...
{#            var goodColor = "#66cc66";#}
{#            var badColor = "#ff6666";#}
            //Compare the values in the password field
            //and the confirmation field
            if(pass1.value == pass2.value){
                //The passwords match.
                //Set the color to the good color and inform
                //the user that they have entered the correct password
                $('#confirmation').attr('class', 'has-success');
                $("#message").text("");
                $("#message").text("");
                $('#submit').prop( "disabled", false );
{#                pass2.style.backgroundColor = goodColor;#}
{#                message.style.color = goodColor;#}
{#                message.innerHTML = "Senhas ok!"#}
            }else{
                //The passwords do not match.
                //Set the color to the bad color and
                //notify the user.
                $('#confirmation').attr('class', 'has-error');
                $("#message").text("Senhas não combinam");
                $('#submit').prop( "disabled", true );
{#                pass2.style.backgroundColor = badColor;#}
{#                message.style.color = badColor;#}
{#                message.innerHTML = "Passwords Do Not Match!"#}
            }
        }
    </script>
{% endblock %}

{% block form %}
    <div class="row">
    <form id="user_form" method="post">
    {% csrf_token %}
{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}

            {% if message.tags == "success" %}
                <script>showSuccessMessage('{{ message }}')</script>
            {% endif %}

            {% if message.tags == "warning" %}
                <script>showWarningMessage('{{ message }}')</script>
            {% endif %}

            {% if message.tags == "error" %}
                <script>showErrorMessage('{{ message }}')</script>
            {% endif %}

            {% if message.tags == "info" %}
                <script>showInfoMessage('{{ message }}')</script>
            {% endif %}

        {% endfor %}
    {% endif %}

    <!-- Mostra todas as mensagens do formulário -->
    {% if form.errors %}

        {% comment %}
    <div class="text-danger">Please correct the error{{ patient_form.errors|pluralize }} below.
        {{ patient_form.errors }}
    </div>
    {% endcomment %}

        {% for field in form %}
            {% if field.errors %}
                <script>showErrorMessage('{{ field.errors|striptags }}')</script>
                <script>console.log('{{ field.errors|striptags }}')</script>
            {% endif %}
        {% endfor %}

        <script>showErrorMessage('Paciente não cadastrado. Por favor, corrija os campos em destaque.')</script>

    {% endif %}

    <div class="tab-pane fade in active" id="menuUserTab">
        <div class="col-md-10">
            <h3 align="center">Cadastro de usuários</h3><br>
            <div class="container span6 offset3 well ">
                <div class="row">
                    <div class="col-xs-6 col-sm-6">
                        <div class="form-group">
                            <label>Nome</label>
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon"> <span class="glyphicon glyphicon-user"></span></span>
                                {{ form.first_name }}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6">
                        <div class="form-group">
                            <label>Sobrenome</label>
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon"> <span class="glyphicon glyphicon-user"></span></span>
                                {{ form.last_name }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6">
                        <div class="form-group">
                            <div class="form-group {% if form.errors.username %}has-error{% endif %}">
                                <label for="full_name" class="control-label">Nome de usuário<b style="color: red;">*</b></label>

                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon"> <span class="glyphicon glyphicon-user"></span></span>
                                    {{ form.username }}
                                </div>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6">
                        <div class="form-group {% if form.errors.password %}has-error{% endif %}">
                            <label for="id_password" class="control-label">Senha<b style="color: red;">*</b></label>
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon"> <span class="glyphicon glyphicon-user"></span></span>
                                {{ form.password }}
                            </div>
                            {#                            <div class="help-block with-errors"></div>#}
                        </div>
                        <div class="form-group {% if form.errors.password %}has-error{% endif %}" id="confirmation">
                            <label for="full_name" class="control-label">Confirmar Senha<b style="color: red;">*</b></label>
                            <div class="input-group input-group-sm has-feedback">
                                <span class="input-group-addon"> <span class="glyphicon glyphicon-user"></span></span>
                                <input class="form-control" id="id_password2" maxlength="128" name="password2" placeholder="Entrar senha" type="password" onkeyup="checkPass(); return false;">
                            </div>
                            <div class="help-block with-errors" id="message"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6">
                        <div class="form-group">
                            <label>Email</label>
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon"> <span class="glyphicon glyphicon-envelope"></span></span>
                                {{ form.email }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="container span6 offset3 well ">
                <div class="row">
                    <div class="col-xs-6 col-sm-12">
                        <div class="form-group">
                            <label>Em quais desses perfis o usuário se indentifica?</label>
                            <div class="input-group  input-group-sm">
                                {% for name in form.groups %}
                                    <div class="myradio">
                                        {{ name }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-group pull-right">
                <input type="submit" value="Salvar" class="btn btn-primary" id="submit"/>
            </div>
        </div>
    </div>

{% endblock %}

{% block end_form %}
    </form>
    </div>
{% endblock %}