<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load l10n %}
    <meta charset="utf-8">
    <title>Cadastro: Dados Sociodemográficos e Clínicos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="{% static 'quiz/jquery/jquery-2.0.0.min.js' %}"></script>
    <script src="{% static 'quiz/js/ajax.js' %}"></script>

    <link href="{% static 'quiz/bootstrap-3.0.0-dist/css/bootstrap.min.css' %}" rel="stylesheet">
{#    <link href="{% static 'quiz/dist/css/bootstrap.min.css' %}" rel="stylesheet">#}
{#    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">#}

    <link href="{% static 'quiz/BootstrapFormHelpers-master/dist/css/bootstrap-formhelpers.min.css' %}"
          rel="stylesheet">

{#    <script src="{% static 'quiz/dist/js/bootstrap.min.js' %}"></script>#}
    <script src="{% static 'quiz/bootstrap-3.0.0-dist/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'quiz/masked_input/jquery.maskedinput.min.js' %}"></script>
    <script src="{% static 'quiz/BootstrapFormHelpers-master/dist/js/bootstrap-formhelpers.min.js' %}"></script>

    <link href="{% static 'quiz/toastr/toastr.css' %}" rel="stylesheet"/>
    <script src="{% static 'quiz/toastr/toastr.js' %}"></script>

    <script src="{% static 'quiz/Bootstrap-Validator-Master/dist/validator.min.js' %}" type="text/javascript"></script>

    <script src="{% static 'quiz/js/quiz.js' %}"></script>
    <script type="text/javascript" src="{% static 'quiz/js/register.js' %}"></script>
    <style type="text/css">

        /* Sticky footer styles
        -------------------------------------------------- */
        body {
            overflow-x: hidden;
        }

        {##}
        .footer /*rodapé do sistema */
                                          {
            background-color: transparent;
            height: 30px;
            text-align: left;
            border: transparent;
            font-size: 8pt;
            font-family: Verdana;
            font-weight: bold;
            width: 30%;
            color: Black;
            position: fixed;
            bottom: 0px;
            left: 0px;
        }

        .thumbnail {
            border: 0 none;
            box-shadow: none;
        }
    </style>

    {% block header %}
    {% endblock %}

</head>
<body>
<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top  navbar-inverse" role="navigation">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Dados Sociodemográficos e Clínicos</a>

        <div class="navbar-header">
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ol class="nav navbar-nav navbar-right">
                <li>
                    <a class="btn-default dropdown-toggle navbar-inverse"
                       data-toggle="dropdown" href="#">
                        <span style="font-size: 0.85em;" class="glyphicon glyphicon-user"></span> {{ user.username }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown dropdown-user dropdown-menu" role="menu">
                        <li><a href="/password_change">Alterar senha</a></li>
                        <li><a href="/logout">Sair</a></li>
                    </ul>

                </li>
            </ol>
        </div>
    </nav>
    <div id="fix-for-navbar-fixed-top-spacing" style="height: 62px;">&nbsp;</div>
</div>

{% block form %}{% endblock %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <ul id="myMenu" class="nav nav-pills nav-stacked">

                <li {% block activePatient %}{% endblock %} >
                    {% if perms.quiz.view_patient %}
                        <a href="/quiz/busca/">Paciente</a>
                    {% endif %}
                </li>

{#                <li {% block activeAdvancedSearch %}{% endblock %}>#}
{#                    <a href="/quiz/busca_avancada/">Busca avançada</a>#}
{#                </li>#}

                {% if perms.auth.add_user and perms.auth.change_user %}
                    <li {% block activeUser %}{% endblock %}><a href="/quiz/user/search/">Usuários</a>
                    </li>
                {% endif %}

                <li {% block activeAdvancedExperiment %}{% endblock %}>
                    <a href="/experiment/list/">Experimentos</a>
                </li>

                <li {% block activeContact %}{% endblock %}><a href="/quiz/contato/">
                    Contato</a>
                </li>

            </ul>
        </div>
        <div id="myMenuContent" class="tab-content">
            {% block content %}
            {% endblock %}
        </div>

    </div>

</div>

{% block end_form %}
{% endblock %}

<div class="footer" style="display: inherit">
    <p><a href="http://ccsl.ime.usp.br"><img src="{% static 'quiz/imgs/logo-ccsl-sm.png' %}" alt="" height="34px"
                                             width="96px"></a></p>
</div>

</body>
</html>