{% extends "quiz/template.html" %}

{% block header %}
    <script>
        function show_modal_remove (user_id){
            if(user_id != {{ current_user_id }}){
                var  modal_remove = document.getElementById('removeUser');
                modal_remove.setAttribute( "href", '/quiz/user/delete/' + user_id);
                $('#modalRemove').modal('show');
            }
            else showErrorMessageTemporary("Usuário em uso.")
        }
        $(function(){
            $("[data-toggle=tooltip]").tooltip();
            {% for message in messages %}
                {% ifequal message.tags 'success'  %}
                    showSuccessMessage('{{ message }}');
                {% endifequal %}
                {% ifequal message.tags 'warning' %}
                    showWarningMessage('{{ message }}');
                {% endifequal %}
                {% ifequal message.tags 'error' %}
                    showErrorMessage('{{ message }}');
                {% endifequal %}
            {% endfor %}
        });
    </script>
{% endblock %}

{% block activeUser %}class="active"{% endblock %}

{% block content %}
    <input type="text" id="action" name="action" style="visibility: hidden"/>
    <div class="tab-pane fade in active" id="mainMenuUserTab">
        <div class="col-md-10">
            <div class="container span6 offset3 well ">
                <div class="form-group">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Nome de usuário</th>
                            <th>Nome</th>
                            <th>Sobrenome</th>
                            <th>E-mail</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in object_list %}
                            <tr>
                                <td><a data-toggle="tooltip" data-placement="left" title="Editar" href="/quiz/user/edit/{{ user.id }}">{{ user.username }}</a></td>
                                <td>{{ user.first_name }}</td>
                                <td>{{ user.last_name }}</td>
                                <td>{{ user.email }}</td>
                                <td>
                                    {% if perms.auth.delete_user and current_user_id != user.id %}
                                        <a class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="right" title="Remover" style="color: indianred" onclick="show_modal_remove({{ user.id }})"></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if perms.quiz.add_user %}
                <div class="btn-group pull-left">
                    <a href="/quiz/user/new/" class="btn btn-primary">Inserir novo usuário</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalRemove" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    Tem certeza que deseja excluir o usuário?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <a id="removeUser" class="btn btn-primary" style="background-color: indianred; color: #ffffff" href="">Excluir</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}