{% extends "quiz/template.html" %}
{% load i18n admin_static %}
{% load admin_urls %}

{% block header %}
    <style>
        .right-inner-addon {
            position: relative;
        }
        .right-inner-addon input {
            padding-right: 30px;
        }
        .right-inner-addon div {
            position: absolute;
            right: 0px;
            padding: 5px 10px;
            pointer-events: none;
        }
    </style>

    <script type="text/javascript">
        function checkPass(){
            var password1 = $('#id_new_password1').val();
            var password2 = $('#id_new_password2').val();
            var confirmation = $('#id_new_password2_id');
            if(password1){
                if(password1 == password2){
                    confirmation.attr('class', 'has-success');
                    $('#id_new_password1_id').removeClass('has-error');
                    return false;
                }else{
                    confirmation.attr('class', 'has-error');
                    $("#message").text("Senhas não combinam");
                    return true;
                }
            }
        }
        $(function(){
            $( "form" ).submit(function( event ) {
                if(checkPass())
                    event.preventDefault();
                if(password_strong() < 60 && $('#id_new_password1').val())
                    event.preventDefault();
            })
        });
        function password_strong(){
            var password = $("#id_new_password1").val();
            var force = 0;
            if(password){
                if((password.length >= 4) && (password.length <= 7)){
                    force += 10;
                }else if(password.length>7){
                    force += 25;
                }
                if(password.match(/[a-z]+/)){
                    force += 10;
                }
                if(password.match(/[A-Z]+/)){
                    force += 20;
                }
                if(password.match(/d+/)){
                    force += 20;
                }
                if(password.match(/[!@#$%ˆ*()]+/)){
                    force += 25;
                }
                show_res(force);
            }
            return force;
        }
        function show_res(force){
            var show = $("#show");
            if(force < 30){
                show.text("Fraca");
                show.removeClass(function() {
                    return $(this).attr("class");
                });
                show.addClass("text-danger");
            }else if((force >= 30) && (force < 60)){
                show.text("Justa");
                show.removeClass(function() {
                    return $(this).attr("class");
                });
                show.addClass("text-warning");
            }else if((force >= 60) && (force < 85)){
                show.text("Forte");
                show.removeClass(function() {
                    return $(this).attr("class");
                });
                show.addClass("text-success");
            }else{
                show.text("Excelente");
                show.removeClass(function() {
                    return $(this).attr("class");
                });
                show.addClass("text-primary");
            }
        }
    </script>
{% endblock %}

{% block form %}
    <div class="row">
    <form method="post">
    {% csrf_token %}
{% endblock %}

{% block content %}
    {#    <script src="{% static 'quiz/dist/js/jquery-2.0.0.min.js' %}"></script>#}
    {#    <script src="{% static 'quiz/dist/js/ajax.js' %}"></script>#}
    {##}
    {#    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">#}
    {#    <link href="{% static 'quiz/BootstrapFormHelpers-master/dist/css/bootstrap-formhelpers.min.css' %}"#}
    {#          rel="stylesheet">#}
    {##}
    {#    <script src="{% static 'quiz/dist/js/bootstrap.min.js' %}"></script>#}
    {##}
    {#    <script src="{% static 'quiz/masked_input/jquery.maskedinput.min.js' %}"></script>#}
    {#    <script src="{% static 'quiz/BootstrapFormHelpers-master/dist/js/bootstrap-formhelpers.min.js' %}"></script>#}
    {##}
    {#    <link href="{% static 'quiz/toastr/toastr.css' %}" rel="stylesheet"/>#}
    {#    <script src="{% static 'quiz/toastr/toastr.js' %}"></script>#}
    {##}
    {#    <script src="{% static 'quiz/Bootstrap-Validator-Master/dist/validator.min.js' %}" type="text/javascript"></script>#}
    {##}
    {#    <script src="{% static 'quiz/js/quiz.js' %}"></script>#}
    {#    <script type="text/javascript" src="{% static 'quiz/js/register.js' %}"></script>#}


    {% if form.errors %}
        <script>showErrorMessage("Senha inválida. Por favor tente de novo.")</script>
    {% endif %}

    <div class="col-xs-6 col-sm-6">
        {% for field in form %}
            <div class="row">
                <div class="form-group{% if field.errors %} has-error{% endif %}" id="{{ field.auto_id }}_id">
                    <div class="control-label">{{ field.label_tag }}</div>
                    <div class="input-group input-group-sm right-inner-addon">
                        <span class="input-group-addon"> <span class="glyphicon glyphicon-user"></span></span>
                        {% ifequal field.auto_id "id_new_password1" %}<div id="show"></div>{% endifequal %}
                        {{ field }}
                    </div>
                    <div class="help-block with-errors">
                        {% for error in field.errors %}
                            <div>{{ error }}</div>
                        {% endfor %}
                        {% ifequal field.auto_id "id_new_password2" %}<div id="message"></div>{% endifequal %}
                    </div>
                </div>
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary pull-right row">Salvar</button>
    </div>
{% endblock %}

{% block end_form %}
    </form>
    </div>
{% endblock %}