{% extends "quiz/template.html" %}
{% load i18n admin_static %}
{% load admin_urls %}

{% block header %}
    <style>
        .right-inner-addon {
            position: relative;
        }
        .right-inner-addon input {
            padding-right: 30px;
        }
        .right-inner-addon div {
            position: absolute;
            right: 0px;
            padding: 5px 10px;
            pointer-events: none;
        }
    </style>

    <script src="{% static 'quiz/js/password.js' %}"></script>

{% endblock %}

{% block form %}
    <div class="row">
    <form method="post">
    {% csrf_token %}
{% endblock %}

{% block content %}

    {% if form.errors %}
        <script type="text/javascript">
            showErrorMessage(gettext("Senha inválida. Por favor tente de novo."))
        </script>
    {% endif %}

    <div class="col-xs-6 col-sm-6">
        {% for field in form %}
            <div class="row">
                {% ifequal field.auto_id "id_new_password1" %}
                    <div data-toggle="tooltip" data-placement="left"
                         title={% trans "Senha deve conter pelo menos 8 caracteres, incluindo ao menos uma letra maiúscula, dígito ou caractere especial." %} >
                {% endifequal %}
                        <div class="form-group{% if field.errors %} has-error{% endif %}" id="{{ field.auto_id }}_form_group">
                            <div class="control-label">{{ field.label_tag }}</div>
                            <div class="input-group input-group-sm right-inner-addon">
                                <span class="input-group-addon"> <span class="glyphicon glyphicon-user"></span></span>
                                {% ifequal field.auto_id "id_new_password1" %}<div id="show"></div>{% endifequal %}
                                {{ field }}
                            </div>
                            <div class="help-block with-errors">
                                {% for error in field.errors %}
                                    <div>{{ error }}</div>
                                {% endfor %}
                                {% ifequal field.auto_id "id_new_password2" %}<div id="message"></div>{% endifequal %}
                            </div>
                        </div>
                {% ifequal field.auto_id "id_new_password1" %}
                    </div>
                {% endifequal %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary pull-right row">{% trans "Salvar" %}</button>
    </div>
{% endblock %}

{% block end_form %}
    </form>
    </div>
{% endblock %}