{% extends "base/template_registration.html" %}

{% load static %}
{% load i18n %}
{% load qdc_tags %}

{% block header %}{% endblock %}

{% block content %}

    <div class="container">
        <form method="post" class="form-signin" action="{% url 'login' %}">
            {% csrf_token %}

            <h2 class="form-signin-heading">NES</h2>

            <div class="row" align="center">
                <span style="color: #428bca; font-size: 50px" class="fa fa-user-circle"></span>
                <br/><br/>
            </div>

            <hr class="hr" />

            <label for="id_username" class="sr-only"> {% trans 'User' %} </label>
            <input id="id_username" type="text" class="form-control" placeholder="{% trans 'User' %}" name="username" autocomplete="username" required autofocus/>
            
            <label for="id_password" class="sr-only"> {% trans 'Password' %} </label>
            <input id="id_password" type="password" class="form-control" name="password" autocomplete="current-password" placeholder="{% trans 'Password' %}" required/>

            <hr class="hr" />

            <button class="btn btn-lg btn-primary btn-block" type="submit" value="login">{% trans "Login" %}</button>

            <input type="hidden" name="next" value="{{ next }}"/>

            <div class="checkbox">
                <label>
                    <a href="/user/password/reset">{% trans "I forgot my password" %}</a>
                </label>
            </div>

            <h6 style="margin-top: 0; text-align: right; font-family: 'Comic Sans MS'; font-size: 14px; color: blueviolet;">
                {% settings_value "VERSION" %}
            </h6>

        </form>

    </div>

    <script src="{% static 'site/jquery/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'site/jquery/jquery-migrate-1.4.1.js' %}"></script>
    <script src="{% static 'site/toastr/toastr.min.js' %}"></script>
    <script src="{% static 'site/js/quiz.js' %}"></script>
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>

    {% if form.non_field_errors %}
        <script type="text/javascript">
            {% for error in form.non_field_errors %}
                showErrorMessageTemporary(gettext('{{ error }}'));
            {% endfor %}
        </script>
    {% endif %}

{% endblock %}
