{% load static %}

{% load i18n static %}

{% block extrastyle %}
    <link href="{% static 'site/toastr/toastr.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'site/bootstrap-4.6.2-dist/css/bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <br/>
        <h4 class="subhead">{% blocktrans %}Your password was configured successfully.
           Access the system using your new credentials.{% endblocktrans %}</h4>
        <p>
            <a href="/logout" class="btn btn-lg btn-primary ">{% trans "Access" %}</a>
        </p>
    </div>
{% endblock %}