{% load i18n %}

{% autoescape off %}
    {% blocktrans %}Hi, is everything ok?

    You are receiving this e-mail for password definition into your user account.

    Please, go to the next page and enter your password:
    {% endblocktrans %}
    {% block reset_link %}
        {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    {% endblock %}

    {% blocktrans %}Your username: {{ user.username }}

    Thank you for using our site!

    Neuromat Team.
    {% endblocktrans %}
{% endautoescape %}