{% block extrastyle %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <br/>

        <h4 class="subhead">Nós enviamos uma mensagem com instruções para configurar a sua senha para o endereço de
            e-mail informado. </h4>
            <p><h4>Você deve recebê-lo em breve.</h4> </p>
    </div>

{% endblock %}