{% load i18n %}
{% load url from future %}

{% autoescape off %}

    {% blocktrans %}Ola tudo bem?

    Você está recebendo este e-mail para definição de senha para sua conta de usuário.

    Por favor, vá para a seguinte página e entre com uma senha:
    {% endblocktrans %}

    {% block reset_link %}
        {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    {% endblock %}

    {% blocktrans %}O seu nome de usuário: {{ user.username }}

    Obrigado por usar o nosso site!

    Equipe Neuromat.{% endblocktrans %}


{% endautoescape %}