{% load static %}

{% load i18n admin_static %}

{% block extrastyle %}
    <link href="{% static 'quiz/toastr/toastr.css' %}" rel="stylesheet"/>
    <link href="{% static 'quiz/bootstrap-3.0.0-dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <style>
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #eee;
        }

        .form-signin {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }

        .form-signin .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }


    </style>

{% endblock %}

{% block content %}
    <div class="container">
        <h4 align="center">{% trans "Especifique seu e-mail para receber as instruções para redefinição de senha." %}</h4>

        <form action="" method="post" class="form-signin">

            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>

            {{ form.email.errors }}

            <input id="id_email" maxlength="254" name="email" type="email" class="form-control" placeholder="{% trans "E-mail" %}" autofocus>
            <br/>
            <button class="btn btn-lg btn-primary btn-block" type="submit" value="login">{% trans "Redefinir senha" %}</button>
            </p>
        </form>
    </div>
{% endblock %}