{% extends "base/template_registration.html" %}

{% load static i18n %}

{% block content %}
    <div class="container">
        <br />
        <h4 class="subhead">
            {% blocktrans %}We sent you a message with instructions to set up your password
            for the e-mail provided. {% endblocktrans %}
        </h4>
        <p>
            <h4>{% trans "You should receive it soon." %}</h4>
        </p>
        <a href="/" class="btn btn-primary">Login</a>
    </div>
{% endblock content %}
