{% load i18n %}

{% autoescape off %}
    {% blocktrans %}Hi, is everything ok?

    You are receiving this e-mail because you requested a password reset for your user account.

    Please, go to the next page and enter a new password:
    {% endblocktrans %}

    {% block reset_link %}
        {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    {% endblock reset_link %}

    {% blocktrans %}
    Thank you for using our site!

    NES Team.
    {% endblocktrans %}
{% endautoescape %}
