{% block extrastyle %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <br/>
        <h4 class="subhead">Sua senha foi configurada com sucesso. Acesse o sistema utilizando suas novas
            credenciais.</h4>

        <p>

            <a href="/logout" class="btn btn-lg btn-primary ">Acessar</a>

        </p>
    </div>
{% endblock %}