{% load static %}
{% block extrahead %}
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
    <script src="{% static 'quiz/toastr/toastr.js' %}"></script>
    <script src="{% static 'quiz/js/quiz.js' %}"></script>
    <script type="text/javascript">
        function password_strong(password) {
            var force = 0;
            if (password) {
                if ((password.length >= 4) && (password.length <= 7)) {
                    force += 10;
                } else if (password.length > 7) {
                    force += 25;
                }
                if (password.match(/[a-z]+/)) {
                    force += 10;
                }
                if (password.match(/[A-Z]+/)) {
                    force += 20;
                }
                if (password.match(/d+/)) {
                    force += 20;
                }
                if (password.match(/[!@#$%ˆ*()]+/)) {
                    force += 25;
                }
            }

            if (force < 60) {
                showErrorMessageTemporary("Senha incompatível com o padrão definido.");
                document.getElementById("id_new_password1").value = "";
                document.getElementById("id_new_password1").focus();
            }

            return force;
        }
    </script>
{% endblock %}
{% block extrastyle %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #eee;
        }

        .form-signin {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }

        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }

        .form-signin .checkbox {
            font-weight: normal;
        }

        .form-signin .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }

        .form-signin .form-control:focus {
            z-index: 2;
        }

        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>

{% endblock %}

{% block content %}
    <div class="container">
        {% if validlink %}


            <form action="" class="form-signin" method="post">
                <div style="display:none">
                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                </div>
                <h2 class="form-signin-heading">Redefinir senha</h2>


                <input type="password" class="form-control" id="id_new_password1" name="new_password1"
                       placeholder="Nova senha" required autofocus onblur="password_strong(this.value)">

                <input type="password" class="form-control" id="id_new_password2" name="new_password2"
                       placeholder="Confirme senha" required="">

                <button class="btn btn-lg btn-primary btn-block" type="submit" value="login">Confirmar</button>
            </form>
        {% else %}
            <h4 class="subhead"><b>Redefinição de senha falhou.</b></h4>
            <p>Link invalido para redefinição de senha, possivelmente porque este link ja foi usado anteriormente. <br/>
                Por favor, faça uma nova requisição de redefinição de senha.</p>
        {% endif %}
    </div>

    {% if form.errors %}
        <script>showErrorMessageTemporary('Preenchimento invalido. Verifique se as senhas digitadas sao iguais')</script>
    {% endif %}

{% endblock %}