{% load static %}

{% load i18n admin_static %}

{% block extrahead %}

    <script src="{% static 'quiz/jquery/jquery-1.9.1.min.js' %}"></script>
    <script src="{% static 'quiz/jquery/jquery-migrate-1.2.1.min.js' %}"></script>

    <script src="{% static 'quiz/toastr/toastr.js' %}"></script>
    <script src="{% static 'quiz/js/quiz.js' %}"></script>

    <script src="{% static 'quiz/dist/js/bootstrap.min.js' %}"></script>

    <script type="text/javascript">

        $(function(){
            $("[data-toggle=tooltip]").tooltip();
        });

        function password_strong(password) {
            var force = 0;
            if (password) {
                if ((password.length >= 4) && (password.length <= 7)) {
                    force += 10;
                } else if (password.length > 7) {
                    force += 25;
                }
                if (password.match(/[a-z]+/)) {
                    force += 10;
                }
                if (password.match(/[A-Z]+/)) {
                    force += 20;
                }
                if (password.match(/d+/)) {
                    force += 20;
                }
                if (password.match(/[!@#$%ˆ*()]+/)) {
                    force += 25;
                }
            }

            if (force < 60) {
                showErrorMessageTemporary(gettext("Senha incompatível com o padrão definido."));
                document.getElementById("id_new_password1").value = "";
                document.getElementById("id_new_password1").focus();
            }

            return force;
        }
    </script>
{% endblock %}
{% block extrastyle %}

    <link href="{% static 'quiz/toastr/toastr.css' %}" rel="stylesheet"/>
    <link href="{% static 'quiz/bootstrap-3.0.0-dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <style>
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #eee;
        }

        .form-signin {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }

        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }

        .form-signin .checkbox {
            font-weight: normal;
        }

        .form-signin .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }

        .form-signin .form-control:focus {
            z-index: 2;
        }

        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>

{% endblock %}

{% block content %}
    <div class="container">
        {% if validlink %}

            <form action="" class="form-signin" method="post">
                <div style="display:none">
                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                </div>
                <h2 class="form-signin-heading">{% trans "Redefinir senha" %}</h2>

                <input type="password" class="form-control" id="id_new_password1" name="new_password1"
                       data-toggle="tooltip" data-placement="left" title= "{% trans "Senha deve conter pelo menos 4 caracteres e ao menos uma letra maiúscula e minúscula, dígito e caractere especial" %}"
                       placeholder={% trans "Nova senha" %} required autofocus onblur="password_strong(this.value)">

                <input type="password" class="form-control" id="id_new_password2" name="new_password2"
                       placeholder="{% trans "Confirme senha" %}" required="">

                <button class="btn btn-lg btn-primary btn-block" type="submit" value="login">{% trans "Confirmar" %}</button>
            </form>
        {% else %}
            <h4 class="subhead"><b>{% trans "Redefinição de senha falhou." %}</b></h4>
            <p>{% blocktrans %}Link inválido para redefinição de senha, possivelmente porque este link ja foi usado anteriormente. <br/>
                Por favor, faça uma nova requisição de redefinição de senha.{% endblocktrans %}</p>
        {% endif %}
    </div>

    {% if form.errors %}
        <script type="text/javascript">
            showErrorMessageTemporary(gettext('Preenchimento invalido. Verifique se as senhas digitadas sao iguais'))
        </script>
    {% endif %}

{% endblock %}