{% extends "base/template_registration.html" %}

{% load i18n static %}

{% block content %}
    <div class="container">
        {% if validlink %}
            <form action="" class="form-signin" method="post" data-toggle="validator">
                <div class="d-none">
                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                </div>
                <h2 class="form-signin-heading">
                    {% trans "Reset password" %}
                </h2>

                <input type="password"
                       class="form-control"
                       id="id_new_password1"
                       name="new_password1"
                       data-bs-toggle="tooltip"
                       data-bs-placement="left"
                       title="{% trans "Password must contain at least 8 characters, including at least one uppercase letter, digit or special character." %}"
                       placeholder="{% trans "New password" %}"
                       required
                       autofocus
                       autocomplete="new-password"
                       onblur="password_strong(this.value)">

                <input type="password"
                       class="form-control"
                       id="id_new_password2"
                       name="new_password2"
                       placeholder="{% trans "Confirm password" %}"
                       required
                       autocomplete="new-password">

                <button class="btn btn-lg btn-primary btn-block" type="submit" value="login">
                    {% trans "Confirm" %}
                </button>
            </form>
        {% else %}
            <h4 class="subhead">
                <b>{% trans "Password reset failed." %}</b>
            </h4>
            <p>
                {% blocktrans %}Invalid link for password reset, possibly because this link has already been used previously. <br />
                Please, request a new password reset.{% endblocktrans %}
            </p>
        {% endif %}
    </div>
{% endblock content %}

{% block extrascript %}
    <script type="text/javascript" defer src={% static "site/js/password.js" %}></script>
    <script type="text/javascript" defer src={% static "site/js/password_ext.js" %}></script>

    <script type="text/javascript">
    $(document).ready(function(){
        $( "form" ).on("submit", function( event ) {
            if (checkPass())
                showErrorMessageTemporary(gettext("Passwords don't match"))
        })
    });

    function password_strong(password) {
        var force = 0;

        if (password) {
            if ((password.length >= 8)) {
                if (password.length > 12) {
                    force += 5;
                }
                if (password.match(/[a-z]+/)) {
                    force += 10;
                }
                if (password.match(/[A-Z]+/)) {
                    force += 20;
                }
                if (password.match(/[0-9]+/)) {
                    force += 20;
                }
                if (password.match(/[ !"@#$%&'()*+,-.\/:;<=>?@[\\\]_{|}~]+/)) {
                    force += 25;
                }
            }

            if (force < 20) {
                showErrorMessageTemporary(gettext("Password incompatible with defined standard."));
                document.getElementById("id_new_password1").value = "";
                document.getElementById("id_new_password1").on("focus");
            }

            return force;
        }
    }
    </script>

    {% if form.errors %}
        <script type="text/javascript">showErrorMessageTemporary(gettext('Invalid fill. Make sure the passwords entered are the same'))</script>
    {% endif %}
{% endblock extrascript %}
