
.idea
*.DS_Store
db.sqlite3
__pycache__/
functional_tests

.coverage*

media/
static/

qdc/settings/settings_local.py
qdc/wsgi.py

*.placeholder

# file created by django-maintenance-mode package
maintenance_mode_state.txt
