# Created by .gitignore support plugin (hsz.mobi)
media
/static
.idea
*.DS_Store
db.sqlite3
__pycache__/
geckodriver.log
functional_tests
.coverage*

qdc/settings_local.py
qdc/wsgi.py

*.placeholder

# file created by django-maintenance-mode package
qdc/maintenance_mode_state.txt
