# Created by .gitignore support plugin (hsz.mobi)
media
/static
.idea
qdc/settings_local.py
*.DS_Store
qdc/wsgi.py
db.sqlite3
__pycache__/
geckodriver.log
functional_tests
.coverage*

# file created by django-maintenance-mode package
qdc/maintenance_mode_state.txt