Django==1.8.5
django-jenkins==0.17.0
django-modeltranslation==0.10.1
django-simple-history==1.6.3
jsonrpc-requests==0.2
psycopg2==2.6.1
pyflakes==0.9.2
pylint==1.4.4
pep8==1.6.2
python-dateutil==2.5.2
