pip>=23.2.1
setuptools>=68.0.0
future>= 0.18.3

django>=4.2.4,<5
django-axes[ipware]==6.1.1
django-modeltranslation>=0.18.11
django-simple-history==3.4.0
django-maintenance-mode>=0.16.3
django-fixture-magic>=0.1.5
django-solo==2.1.0
django-rosetta
jsonrpclib==0.2.1 #FIXME: nao compativel com python 3.11
django-debug-toolbar==4.2


python-dateutil==2.8.2
psycopg2>=2.9.7, <3
psycopg2-binary>=2.9.7, <3



# Obs.: error -> ERROR: botocore 1.14.7 has requirement docutils<0.16,>=0.10, but you'll have docutils 0.16 which is incompatible.
# But installed
# Refers to installation of goodtables==2.2.1 below
numpy>=1.25.2
scipy>=1.11.1
h5py>=2.6.0
# Keeps mpl to a version before the dependency bump:
# https://github.com/matplotlib/matplotlib/blob/f6e0ee49c598f59c6e6cf4eefe473e4dc634a58a/doc/api/prev_api_changes/api_changes_3.4.0/development.rst
matplotlib>=1.5.3,<3.4

pydot==1.4.2
coreapi==2.3.3
GitPython==3.1.37
reportlab>=3.6,<5
xhtml2pdf==0.2.11
networkx>=2.8.8,<3


mne==1.3.1

#pynwb
-e "git+https://github.com/AllenInstitute/nwb-api.git#egg=nwb&subdirectory=ainwb"
#src/nwb/dist/nwb-1.0.0-py3-none-any.whl


# For testing
goodtables==2.5.4
Faker==2.0.4

# Development
types-python-dateutil
django-stubs-ext 
django-stubs[compatible-mypy]
mypy
