name: Quality Assurance
on: [pull_request, workflow_call]

jobs:
    quality-assurance:
        name: Quality Assurance
        runs-on: ubuntu-latest
        container: python:3.11-slim-bookworm

        services:
            nes_db:
                image: postgres:16-bookworm
                env:
                    POSTGRES_DB: nes_db
                    POSTGRES_USER: nes_user
                    POSTGRES_PASSWORD: nes_password
                    PGDATA: /var/lib/postgresql/data
                    PGCLIENTENCODING: UTF8
                ports:
                  - 5432:5432
                options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
      
        steps:
          - uses: actions/checkout@v4
          - name: Cache dependency # caching dependency will make our build faster.
            uses: actions/cache@v2 # for more info checkout pip section documentation at https://github.com/actions/cache
            with:
                path: ~/.cache/pip
                key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
                restore-keys: |
                  ${{ runner.os }}-pip-
          - name: Set up Python 3.11
            uses: actions/setup-python@v3
          - name: Install Dependencies
            run: |
              python -m pip install --upgrade pip
              pip install -r requirements.txt
          - name: Run Tests
            run: |
              python3 manage.py test
