{% extends "base/template.html" %}

{% load i18n %}

{% block activeExport %} active{% endblock activeExport %}

{% block content %}
    <div class="tab-pane fade show active" id="exportBreadCrumb">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-custom overflow-hidden text-center bg-body-tertiary border rounded-3">
                <li class="breadcrumb-item"><a href="{% url "home" %}">{% trans "Home" %}</a></li>
                <li class="breadcrumb-item active">{% trans "Export" %}</li>
            </ol>
        </nav>
    </div>

    <div class="tab-pane fade show active" id="mainMenuUserTab">
        <div class="my-3 p-3 bg-body rounded shadow-sm">
            <h4>{% trans "Select the type of export " %}</h4>
            <hr>
            <ol class="list-group list-group-flush">
                {% for export_type in export_type_list %}
                    <li class="list-group-item list-group-item-action">
                        <a data-bs-toggle="tooltip" data-bs-placement="left" title="{% trans "List view" %}" href="{{ export_type.href }}">
                            {{ export_type.item }}
                        </a>
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>
{% endblock content %}
