{% load i18n %}

<ul id="ul-location-list" style="list-style-type: none; padding: 0; margin: 0;">
    {% if location_list.count > 0 %}
        {% for location in location_list %}
            <li><a href="#" onclick="add_location('{{ location.city }}'); return false;">{{ location.city }}</a></li>
        {% endfor %}
    {% else %}
        <li>{% trans "No locations found!" %}</li>
    {% endif %}
</ul>

{% block script %}
    {% load static %}
    <script src="{% static 'data/js/participant_selection.js' %}"></script>
{% endblock %}