{% extends "base/template.html" %}

{% load i18n %}

{% block activeExport %} active{% endblock %}

{% block form %}
    <div class="row">
    <form id="user_form" method="post" data-toggle="validator">
    {% csrf_token %}
{% endblock %}

{% block content %}

    <div class="tab-pane fade show active" id="participantsSelectionBreadCrumb">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="/home">{% trans "Home" %}</a></li>
                <li><a href="/export">{% trans "Export" %}</a></li>
                <li class="active">{% trans "Participants selection" %}</li>
            </ol>
        </div>
    </div>

    <div class="tab-pane fade show active" id="mainMenuUserTab">
        <div class="col-lg-12">
            <div id="participants_container" class="container-fluid well">
                <h4>{% trans "Participants selection" %}</h4>

                <div class="form-group">
                    <div class="radio" style="margin-top: 0px">
                        <label>
                            <input id="id_type_of_selection_radio_0" name="type_of_selection_radio" type="radio" value="all" checked> {% trans "All participants" %}
                        </label>
                    </div>

                    <div class="radio">
                        <label>
                            <input id="id_type_of_selection_radio_1" name="type_of_selection_radio" type="radio" value="selected"> {% trans "Selected participants" %}
                        </label>
                    </div>

                    <div class="col-lg-1"></div>
                    <div class="col-lg-12 collapse" id="participants_filter_div" style="visibility: hidden">

                        <div class="form-group pt-2">
                            <label>
                                <input id="id_gender_checkbox" name="gender_checkbox" type="checkbox" value="gender_selected"> {% trans "Gender" %}
                            </label>
                        </div>

                        <div class="form-group" >
                            {{ participant_selection_form.gender }}
                            <div class="help-block with-errors"></div>
                        </div>

                        <div class="form-group pt-2">
                            <label>
                                <input id="id_marital_status_checkbox" name="marital_status_checkbox" type="checkbox" value="marital_status_selected">{% trans "Marital status" %}
                            </label>
                        </div>

                        <div class="form-group">
                            {{ participant_selection_form.marital_status }}
                            <div class="help-block with-errors"></div>
                        </div>

                        <div class="form-group">
                            <label>
                                <input id="id_location_checkbox" name="location_checkbox" type="checkbox" value="location_selected">{% trans "Locations" %}
                            </label>
                        </div>

                        <div id="id_locations" class="panel panel-default" style="border:1px solid lightgray;">
                            <div class="panel-body" style="background-color: whitesmoke">

                                <div class="row">
                                    <div id="div-search-locations" class="col-12 col-sm-12">
                                        <div class="input-group input-group-sm">
                                            <span class="input-group-addon"> <span class="fa fa-search"></span></span>
                                            <div class="ui-widget">
                                              <input id="get_location" placeholder="{% trans 'Enter a city' %}" class="form-control">
                                            </div>
                                        </div>

                                        <ul id="search-results-locations" style="list-style: none;">
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-12">
                                        <div id="localization_list" class="form-group">

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <label>
                                <input id="id_diagnosis_checkbox" name="diagnosis_checkbox" type="checkbox" value="diagnosis_selected"> {% trans "Diagnosis" %}
                            </label>
                        </div>

                        <div id="id_diagnosis" class="panel panel-default" style="border:1px solid lightgray;">
                            <div class="panel-body" style="background-color: whitesmoke">
                                <div class="row">
                                    <div class="col-12 col-sm-12">
                                        <div class="input-group input-group-sm">
                                            <span class="input-group-addon"> <span class="fa fa-search"></span></span>
                                            <div class="ui-widget">
                                              <input id="get_diagnosis" placeholder="{% trans "Enter a diagnosis" %}" class="form-control">
                                            </div>
                                        </div>
                                        <ul id="search-results-locations" style="list-style: none;">
                                        </ul>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12 col-sm-12">
                                        <div id="diagnosis_list" class="form-group">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label>
                                <input id="id_age_checkbox" name="age_checkbox" type="checkbox" value="age_selected"> {% trans "Age" %}
                            </label>
                        </div>

                        <div id="id_age" class="panel panel-default" style="border:1px solid lightgray;">
                            <div class="panel-body" style="background-color: whitesmoke">
                                <div class="col-6 col-sm-2">
                                    <div class="form-group">
                                        {{ age_interval_form.min_age }}
                                    </div>
                                </div>
                                <div class="col-1">
                                    <span>{% trans "to" %}</span>
                                </div>
                                <div class="col-6 col-sm-2">
                                    <div class="form-group">
                                        {{ age_interval_form.max_age }}
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>

            <div class="btn-toolbar">

                <div class="btn-group pull-left">
                </div>

                <div class="btn-group pull-right">
                    <button type="submit" name="action" value="next-step-1" class="btn btn-primary">{% trans "Next" %}
                        <span class="fa fa-forward"></span>
                    </button>
                </div>
                <div class="btn-group pull-right">
                    <a href="/export" class="btn" style="background-color: #f5f5f5">{% trans "Cancel" %}</a>
                </div>

            </div>

        </div>
    </div>

{% endblock %}

{% block end_form %}
    </form>
    </div>
{% endblock %}

{% block script %}
    {% load static %}
    <script src="{% static 'site/js/participant_selection.js' %}"></script>
{% endblock %}